/* Style the video: 100% width and height to cover the entire window */
/* line 2, ../../UniServerZ/www/akas-khaoyai-master/scss/style-video.scss */
#myVideo {
  position: static;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

/* Add some content at the bottom of the video/page */
/* line 11, ../../UniServerZ/www/akas-khaoyai-master/scss/style-video.scss */
.content {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

/* Style the button used to pause/play the video */
/* line 21, ../../UniServerZ/www/akas-khaoyai-master/scss/style-video.scss */
#myBtn {
  padding: 10px;
  border: none;
  background: transparent;
  color: #fff;
  cursor: pointer;
  position: absolute;
  left: 0;
  right: 0;
  top: 32.5%;
  margin: auto;
  height: auto;
}

/* line 35, ../../UniServerZ/www/akas-khaoyai-master/scss/style-video.scss */
#myBtn:hover {
  color: black;
}

/* line 39, ../../UniServerZ/www/akas-khaoyai-master/scss/style-video.scss */
.flaticon-play-button::before {
  font-size: 10rem;
}

@media (min-aspect-ratio: 16 / 9) {
  /* line 45, ../../UniServerZ/www/akas-khaoyai-master/scss/style-video.scss */
  #videoBG {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16 / 9) {
  /* line 51, ../../UniServerZ/www/akas-khaoyai-master/scss/style-video.scss */
  #videoBG {
    width: auto;
    height: 100%;
  }
}

@media (max-width: 767px) {
  /* line 57, ../../UniServerZ/www/akas-khaoyai-master/scss/style-video.scss */
  #videoBG {
    display: none;
  }
  /* line 60, ../../UniServerZ/www/akas-khaoyai-master/scss/style-video.scss */
  .banner {
    background: url("../assets/images/banner.jpg");
    background-size: cover;
  }
}

/* line 1, ../../UniServerZ/www/akas-khaoyai-master/scss/style-gallery.scss */
.position-lt {
  position: absolute;
  left: 0;
  top: 0;
}

/* line 7, ../../UniServerZ/www/akas-khaoyai-master/scss/style-gallery.scss */
.position-rt {
  position: absolute;
  right: 0;
  top: 0;
}

/* line 13, ../../UniServerZ/www/akas-khaoyai-master/scss/style-gallery.scss */
.position-lb {
  position: absolute;
  left: 0;
  bottom: 0;
}

/* line 19, ../../UniServerZ/www/akas-khaoyai-master/scss/style-gallery.scss */
.position-rb {
  position: absolute;
  right: 0;
  bottom: 0;
}

/* line 25, ../../UniServerZ/www/akas-khaoyai-master/scss/style-gallery.scss */
.position-center {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  margin: auto;
}

/* line 34, ../../UniServerZ/www/akas-khaoyai-master/scss/style-gallery.scss */
.position-lt img {
  height: 48vh;
  object-fit: cover;
  object-position: center;
}

/* line 41, ../../UniServerZ/www/akas-khaoyai-master/scss/style-gallery.scss */
.position-rt img {
  height: 56.5vh;
  object-fit: cover;
  object-position: center;
}

/* line 48, ../../UniServerZ/www/akas-khaoyai-master/scss/style-gallery.scss */
.position-lb img {
  height: 47vh;
  object-fit: cover;
  object-position: center;
}

/* line 55, ../../UniServerZ/www/akas-khaoyai-master/scss/style-gallery.scss */
.position-rb img {
  height: 38.3vh;
  object-fit: cover;
  object-position: center;
}

/* line 62, ../../UniServerZ/www/akas-khaoyai-master/scss/style-gallery.scss */
.position-center img {
  height: 97vh;
  object-fit: cover;
  object-position: center;
}

/* line 69, ../../UniServerZ/www/akas-khaoyai-master/scss/style-gallery.scss */
.cover-img {
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

/* line 75, ../../UniServerZ/www/akas-khaoyai-master/scss/style-gallery.scss */
.cover-img img {
  width: 100%;
  padding: 2px;
  transform: scale(1);
  -webkit-transition: 50s all cubic-bezier(0, 0.72, 0.31, 1);
  transition: 10s all cubic-bezier(0, 0.72, 0.31, 1);
}

/* line 83, ../../UniServerZ/www/akas-khaoyai-master/scss/style-gallery.scss */
.cover-img img:hover {
  transform: scale(1.05);
}

/* line 86, ../../UniServerZ/www/akas-khaoyai-master/scss/style-gallery.scss */
.block-gallery {
  margin-left: 8rem;
  display: block;
  position: absolute;
  width: calc(100% - 8rem);
  height: calc(100% - 4.8rem);
}

/* line 1, ../../UniServerZ/www/akas-khaoyai-master/scss/style-mobile.scss */
.showin-mobile {
  display: none;
}

/* line 4, ../../UniServerZ/www/akas-khaoyai-master/scss/style-mobile.scss */
.mobile {
  display: none;
}

@media (max-width: 768px) {
  /* line 9, ../../UniServerZ/www/akas-khaoyai-master/scss/style-mobile.scss */
  .block-content {
    padding: 2.7rem;
  }
  /* line 12, ../../UniServerZ/www/akas-khaoyai-master/scss/style-mobile.scss */
  .order-xs-first {
    order: -1;
  }
  /* line 15, ../../UniServerZ/www/akas-khaoyai-master/scss/style-mobile.scss */
  .order-xs-last {
    order: 13;
  }
  /* line 18, ../../UniServerZ/www/akas-khaoyai-master/scss/style-mobile.scss */
  h1 {
    font-size: 4.2rem;
  }
  /* line 21, ../../UniServerZ/www/akas-khaoyai-master/scss/style-mobile.scss */
  .sub-menu {
    width: 100%;
    overflow: auto;
    white-space: nowrap;
    padding: 1rem 0 4rem;
  }
  /* line 27, ../../UniServerZ/www/akas-khaoyai-master/scss/style-mobile.scss */
  .overflow {
    max-height: none;
    overflow: hidden;
  }
  /* line 31, ../../UniServerZ/www/akas-khaoyai-master/scss/style-mobile.scss */
  .btn-tertiary {
    display: inline-block;
  }
  /* line 34, ../../UniServerZ/www/akas-khaoyai-master/scss/style-mobile.scss */
  .desktop {
    display: none;
  }
  /* line 37, ../../UniServerZ/www/akas-khaoyai-master/scss/style-mobile.scss */
  .mobile {
    display: block;
  }
}

@media (max-width: 767px) {
  /* line 61, ../../UniServerZ/www/akas-khaoyai-master/scss/style-mobile.scss */
  nav.navbar .logo img {
    height: 4.4rem;
  }
  /* line 64, ../../UniServerZ/www/akas-khaoyai-master/scss/style-mobile.scss */
  .block-content {
    padding: 4rem 2.7rem 0;
  }
  /* line 68, ../../UniServerZ/www/akas-khaoyai-master/scss/style-mobile.scss */
  .goto-about h2 {
    font-size: 2.6rem;
    text-align: center;
  }
  /* line 73, ../../UniServerZ/www/akas-khaoyai-master/scss/style-mobile.scss */
  .space-word {
    margin-bottom: 0;
  }
  /* line 76, ../../UniServerZ/www/akas-khaoyai-master/scss/style-mobile.scss */
  .gap-image {
    padding: 1.6rem 0;
  }
  /* line 79, ../../UniServerZ/www/akas-khaoyai-master/scss/style-mobile.scss */
  .img-over-size {
    max-width: 100%;
    height: auto;
    width: 100%;
  }
  /* line 84, ../../UniServerZ/www/akas-khaoyai-master/scss/style-mobile.scss */
  #navbarCollapse {
    text-align: center;
    padding: 15rem 4rem;
    background: #fff;
    position: fixed;
    left: 0px;
    width: 100%;
    top: 0%;
    z-index: -1;
    margin: auto;
    height: 100vh;
    transform: translateX(100%);
    transition-timing-function: ease-in;
    transition: 0.5s;
  }
  /* line 98, ../../UniServerZ/www/akas-khaoyai-master/scss/style-mobile.scss */
  #navbarCollapse.show {
    transition: 0.5s;
    transition-timing-function: ease-out;
    transform: translateX(0);
    opacity: 1;
  }
  /* line 106, ../../UniServerZ/www/akas-khaoyai-master/scss/style-mobile.scss */
  .navbar-nav .nav-link {
    font-size: 2.6rem;
  }
  /* line 109, ../../UniServerZ/www/akas-khaoyai-master/scss/style-mobile.scss */
  .collapse:not(.show) {
    display: block;
    opacity: 0;
  }
  /* line 113, ../../UniServerZ/www/akas-khaoyai-master/scss/style-mobile.scss */
  .showin-mobile {
    display: block;
  }
  /* line 116, ../../UniServerZ/www/akas-khaoyai-master/scss/style-mobile.scss */
  .sub-link {
    display: none;
  }
  /* line 119, ../../UniServerZ/www/akas-khaoyai-master/scss/style-mobile.scss */
  nav.navbar.sub-menu-detail {
    position: relative;
    padding: 0rem 0rem 0rem 2.7rem;
  }
  /* line 123, ../../UniServerZ/www/akas-khaoyai-master/scss/style-mobile.scss */
  #anchor-link {
    font-size: 1.6rem;
  }
  /* line 127, ../../UniServerZ/www/akas-khaoyai-master/scss/style-mobile.scss */
  .sub-menu-detail .dropup,
  .sub-menu-detail .dropright,
  .sub-menu-detail .dropdown,
  .sub-menu-detail .dropleft {
    position: static;
  }
  /* line 133, ../../UniServerZ/www/akas-khaoyai-master/scss/style-mobile.scss */
  .sub-menu-detail .dropdown-menu.show {
    width: 100vw;
    margin: 0;
    border: 0;
  }
  /* line 137, ../../UniServerZ/www/akas-khaoyai-master/scss/style-mobile.scss */
  .sub-menu-detail .dropdown-menu.show a {
    padding: 1.6rem;
  }
  /* line 143, ../../UniServerZ/www/akas-khaoyai-master/scss/style-mobile.scss */
  #collection nav.navbar {
    top: 8rem;
  }
  /* line 147, ../../UniServerZ/www/akas-khaoyai-master/scss/style-mobile.scss */
  .dropdown-toggle::after {
    content: "";
    border: none;
    display: none;
  }
  /* line 152, ../../UniServerZ/www/akas-khaoyai-master/scss/style-mobile.scss */
  .block-dropdown {
    padding: 1.6rem 0rem;
  }
  /* line 155, ../../UniServerZ/www/akas-khaoyai-master/scss/style-mobile.scss */
  .block-dropdown .icon-Down-Arrow::before {
    transform: rotate(0deg);
    display: inline-block;
    transition: all 0.3s ease;
  }
  /* line 160, ../../UniServerZ/www/akas-khaoyai-master/scss/style-mobile.scss */
  .block-dropdown.show .icon-Down-Arrow::before {
    transform: rotate(180deg);
  }
  /* line 163, ../../UniServerZ/www/akas-khaoyai-master/scss/style-mobile.scss */
  .home-collection {
    background-color: #fafafa;
  }
  /* line 166, ../../UniServerZ/www/akas-khaoyai-master/scss/style-mobile.scss */
  .site-footer {
    margin-top: 10rem;
  }
  /* line 168, ../../UniServerZ/www/akas-khaoyai-master/scss/style-mobile.scss */
  .site-footer .simple-steps .step {
    margin: 0;
    padding: 0;
  }
  /* line 173, ../../UniServerZ/www/akas-khaoyai-master/scss/style-mobile.scss */
  .catalogue {
    margin: 5rem 0;
  }
  /* line 176, ../../UniServerZ/www/akas-khaoyai-master/scss/style-mobile.scss */
  .relative {
    position: relative;
  }
  /* line 179, ../../UniServerZ/www/akas-khaoyai-master/scss/style-mobile.scss */
  .block-banner .text-banner {
    padding: 2.7rem;
  }
  /* line 181, ../../UniServerZ/www/akas-khaoyai-master/scss/style-mobile.scss */
  .block-banner .text-banner h1 {
    font-size: 4.2rem;
    text-align: left;
  }
  /* line 186, ../../UniServerZ/www/akas-khaoyai-master/scss/style-mobile.scss */
  .btn-tertiary {
    display: block;
  }
  /* line 189, ../../UniServerZ/www/akas-khaoyai-master/scss/style-mobile.scss */
  .block-images {
    padding: 2rem;
  }
  /* line 192, ../../UniServerZ/www/akas-khaoyai-master/scss/style-mobile.scss */
  .form-dream-home {
    padding: 5rem 2.7rem;
  }
  /* line 195, ../../UniServerZ/www/akas-khaoyai-master/scss/style-mobile.scss */
  .wpcf7-form p:last-of-type input {
    width: 100%;
  }
  /* line 198, ../../UniServerZ/www/akas-khaoyai-master/scss/style-mobile.scss */
  .wpcf7-form p {
    width: 100%;
  }
  /* line 201, ../../UniServerZ/www/akas-khaoyai-master/scss/style-mobile.scss */
  .block-other {
    padding: 5rem 2.7rem;
  }
  /* line 204, ../../UniServerZ/www/akas-khaoyai-master/scss/style-mobile.scss */
  .view-more {
    display: none;
  }
  /* line 207, ../../UniServerZ/www/akas-khaoyai-master/scss/style-mobile.scss */
  .menu-room {
    position: static;
  }
  /* line 210, ../../UniServerZ/www/akas-khaoyai-master/scss/style-mobile.scss */
  #collection nav.navbar {
    padding: 0 2.7rem;
  }
  /* line 213, ../../UniServerZ/www/akas-khaoyai-master/scss/style-mobile.scss */
  .form-dream-home .wpcf7-form p:last-of-type input {
    width: 100%;
  }
  /* line 216, ../../UniServerZ/www/akas-khaoyai-master/scss/style-mobile.scss */
  .btn-back-detail {
    position: absolute;
    z-index: 3;
    left: 3rem;
    top: 3rem;
  }
  /* line 223, ../../UniServerZ/www/akas-khaoyai-master/scss/style-mobile.scss */
  .swiper-container .description {
    width: 100%;
    left: 0;
  }
  /* line 226, ../../UniServerZ/www/akas-khaoyai-master/scss/style-mobile.scss */
  .swiper-container .description h1 {
    text-align: center;
    font-weight: bold;
  }
  /* line 232, ../../UniServerZ/www/akas-khaoyai-master/scss/style-mobile.scss */
  .swiper-container-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    left: 2.7rem;
  }
  /* line 237, ../../UniServerZ/www/akas-khaoyai-master/scss/style-mobile.scss */
  .block-other-slide .swiper-container .swiper-slide {
    padding: 1.6rem 1rem;
  }
  /* line 240, ../../UniServerZ/www/akas-khaoyai-master/scss/style-mobile.scss */
  .swiper-slide.gallery {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
  /* line 245, ../../UniServerZ/www/akas-khaoyai-master/scss/style-mobile.scss */
  .show-gallery {
    margin: auto;
  }
  /* line 248, ../../UniServerZ/www/akas-khaoyai-master/scss/style-mobile.scss */
  .fix-height {
    height: 100%;
  }
}

/* line 31, ../../UniServerZ/www/akas-khaoyai-master/scss/style-guide.scss */
html {
  font-size: 62.5%;
}

/* line 34, ../../UniServerZ/www/akas-khaoyai-master/scss/style-guide.scss */
h1 {
  font-size: 3.6rem;
  line-height: 1.3;
  font-weight: 600;
  padding: 5rem 0 5rem;
  margin: 0;
}

/* line 41, ../../UniServerZ/www/akas-khaoyai-master/scss/style-guide.scss */
h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 3.6rem;
  line-height: 1;
  font-weight: 600;
  padding: 1.6rem 0 1.6rem;
  margin: 0;
}

/* line 49, ../../UniServerZ/www/akas-khaoyai-master/scss/style-guide.scss */
h3 {
  font-size: 2.1rem;
  line-height: 1.7;
  font-weight: 600;
  padding: 1.6rem 0 3.2rem;
}

/* line 55, ../../UniServerZ/www/akas-khaoyai-master/scss/style-guide.scss */
h4 {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.375;
  padding: 2.2rem 0 1rem;
}

/* line 61, ../../UniServerZ/www/akas-khaoyai-master/scss/style-guide.scss */
a {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.375;
  padding: 0;
}

/* line 67, ../../UniServerZ/www/akas-khaoyai-master/scss/style-guide.scss */
body,
p {
  font-family: "Prompt", "sans-serif";
  font-size: 1.6rem;
  font-weight: normal;
  line-height: 1.375;
  padding: 0;
  color: #000000;
  -webkit-appearance: none;
}

/* line 77, ../../UniServerZ/www/akas-khaoyai-master/scss/style-guide.scss */
div:focus {
  outline: none;
}

/* line 80, ../../UniServerZ/www/akas-khaoyai-master/scss/style-guide.scss */
.bg-nude {
  background-color: #d6d2c4;
}

/* line 83, ../../UniServerZ/www/akas-khaoyai-master/scss/style-guide.scss */
.bg-brown {
  background-color: #d0cac4;
}

/* line 86, ../../UniServerZ/www/akas-khaoyai-master/scss/style-guide.scss */
.bg-cream {
  background-color: #fafafa;
}

/* line 89, ../../UniServerZ/www/akas-khaoyai-master/scss/style-guide.scss */
.bg-grey {
  background-color: #51534a;
}

/* line 92, ../../UniServerZ/www/akas-khaoyai-master/scss/style-guide.scss */
.form-bg {
  height: 100vh;
  background-color: #f5f4f2;
}

/* line 96, ../../UniServerZ/www/akas-khaoyai-master/scss/style-guide.scss */
.height-100 {
  height: 100vh;
}

/* line 100, ../../UniServerZ/www/akas-khaoyai-master/scss/style-guide.scss */
.btn-default {
  width: 280px;
  height: 76px;
  display: block;
  letter-spacing: 3px;
  font-size: 1.6rem;
  font-weight: 600;
  color: #ffffff;
  text-align: center;
}

/* line 110, ../../UniServerZ/www/akas-khaoyai-master/scss/style-guide.scss */
.btn-default:hover {
  color: #ffffff;
}

/* line 113, ../../UniServerZ/www/akas-khaoyai-master/scss/style-guide.scss */
.btn-default:focus {
  color: #ffffff;
  outline: none;
}

/* line 118, ../../UniServerZ/www/akas-khaoyai-master/scss/style-guide.scss */
.btn-secondary {
  border-radius: 2.7rem;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
  padding: 0.8rem 2.1rem;
  background-color: #ffffff;
  margin: 0 0.5rem;
  color: #000000;
}

/* line 125, ../../UniServerZ/www/akas-khaoyai-master/scss/style-guide.scss */
.btn-secondary:hover {
  background-color: #eeeeee;
  color: #000000;
}

/* line 129, ../../UniServerZ/www/akas-khaoyai-master/scss/style-guide.scss */
.btn-secondary:focus {
  background-color: #ffffff;
  color: #000000;
  box-shadow: none;
  outline: none;
}

/* line 136, ../../UniServerZ/www/akas-khaoyai-master/scss/style-guide.scss */
.btn-tertiary {
  border-radius: 2.7rem;
  border: solid 1px #cecece;
  background-color: #ffffff;
  padding: 0.8rem 2.1rem;
  margin: 0 0.5rem;
  color: #000000;
}

/* line 143, ../../UniServerZ/www/akas-khaoyai-master/scss/style-guide.scss */
.btn-tertiary:hover {
  border: solid 1px #656565;
  color: #000000;
}

/* line 147, ../../UniServerZ/www/akas-khaoyai-master/scss/style-guide.scss */
.btn-tertiary:focus {
  border: solid 1px #656565;
  color: #000000;
  outline: none;
}

/* line 153, ../../UniServerZ/www/akas-khaoyai-master/scss/style-guide.scss */
.btn-register {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.75s ease;
  -webkit-transition: transform 0.75s ease;
  transform: translate(0rem);
  z-index: 1;
}

/* line 165, ../../UniServerZ/www/akas-khaoyai-master/scss/style-guide.scss */
.btn-register.show {
  transform: translate(-30rem);
  font-size: 0;
  justify-content: left;
}

/* line 169, ../../UniServerZ/www/akas-khaoyai-master/scss/style-guide.scss */
.btn-register.show .fa.fa-long-arrow-left {
  transform: rotate(180deg);
  padding: 0 3rem;
  color: #51534a;
}

/* line 176, ../../UniServerZ/www/akas-khaoyai-master/scss/style-guide.scss */
.btn-register2 {
  width: 100%;
  margin: 4.8rem 0;
  position: static;
  border: none;
}

/* line 182, ../../UniServerZ/www/akas-khaoyai-master/scss/style-guide.scss */
.btn-transparent {
  padding: 3rem 0;
  display: flex;
  width: 40rem;
  border: solid 1px #694231;
  text-align: center;
  justify-content: center;
}

/* line 189, ../../UniServerZ/www/akas-khaoyai-master/scss/style-guide.scss */
.btn-transparent:hover {
  font-weight: 600;
}

/* line 193, ../../UniServerZ/www/akas-khaoyai-master/scss/style-guide.scss */
.flaticon-facebook {
  display: block;
  position: absolute;
  bottom: 10%;
  width: 100%;
  text-align: center;
  font-size: 2rem;
  left: 0;
  right: 0;
}

/* line 203, ../../UniServerZ/www/akas-khaoyai-master/scss/style-guide.scss */
.flaticon-tel {
  display: block;
  position: absolute;
  bottom: 5%;
  width: 100%;
  text-align: center;
  font-size: 2rem;
  left: 0;
  right: 0;
}

/* line 213, ../../UniServerZ/www/akas-khaoyai-master/scss/style-guide.scss */
.flaticon-next,
.flaticon-back {
  font-size: 1.7rem;
  padding: 0 18px;
  animation: arrow 1s linear infinite;
  animation-play-state: paused;
}

@keyframes arrow {
  0% {
    transform: translate(0px);
  }
  50% {
    transform: translate(4px);
  }
  100% {
    transform: translate(0px);
  }
}

/* line 232, ../../UniServerZ/www/akas-khaoyai-master/scss/style-guide.scss */
span:focus,
select:focus,
input:focus,
textarea:focus {
  border-radius: 0.6rem;
  border: solid 1px #000000;
  outline: none;
}

/* line 240, ../../UniServerZ/www/akas-khaoyai-master/scss/style-guide.scss */
a {
  transition: all 0.3s ease-in-out;
  color: #000000;
}

/* line 244, ../../UniServerZ/www/akas-khaoyai-master/scss/style-guide.scss */
a:hover {
  text-decoration: none;
  color: #000000;
}

/* line 248, ../../UniServerZ/www/akas-khaoyai-master/scss/style-guide.scss */
.img-effect {
  -webkit-transition: 50s all cubic-bezier(0, 0.72, 0.31, 1);
  transition: 50s all cubic-bezier(0, 0.72, 0.31, 1);
  transform: scale(1);
}

/* line 252, ../../UniServerZ/www/akas-khaoyai-master/scss/style-guide.scss */
.img-effect:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

/* line 258, ../../UniServerZ/www/akas-khaoyai-master/scss/style-guide.scss */
.btn-secondary:not(:disabled):not(.disabled):active:focus,
.btn-secondary:not(:disabled):not(.disabled).active:focus,
.show > .btn-secondary.dropdown-toggle:focus {
  box-shadow: none;
}

/* line 263, ../../UniServerZ/www/akas-khaoyai-master/scss/style-guide.scss */
img.fit-left {
  object-fit: cover;
  object-position: left center;
  height: calc(100vh);
}

/* line 268, ../../UniServerZ/www/akas-khaoyai-master/scss/style-guide.scss */
img.fit-right {
  object-fit: cover;
  object-position: right center;
  height: calc(100vh);
}

/* line 273, ../../UniServerZ/www/akas-khaoyai-master/scss/style-guide.scss */
img.object-fit {
  object-fit: cover;
  height: 100vh;
}

/* line 277, ../../UniServerZ/www/akas-khaoyai-master/scss/style-guide.scss */
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 4.7rem;
}

/* line 284, ../../UniServerZ/www/akas-khaoyai-master/scss/style-guide.scss */
[class^="flaticon-"]:before,
[class*=" flaticon-"]:before,
[class^="flaticon-"]:after,
[class*=" flaticon-"]:after {
  margin-left: 0;
}

/* line 291, ../../UniServerZ/www/akas-khaoyai-master/scss/style-guide.scss */
strong {
  font-weight: bold;
  text-transform: uppercase;
}

/* line 2, ../../UniServerZ/www/akas-khaoyai-master/scss/style-x.scss */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* line 7, ../../UniServerZ/www/akas-khaoyai-master/scss/style-x.scss */
ul,
li {
  list-style: none;
}

/* line 11, ../../UniServerZ/www/akas-khaoyai-master/scss/style-x.scss */
img {
  width: 100%;
}

/* line 14, ../../UniServerZ/www/akas-khaoyai-master/scss/style-x.scss */
button:focus {
  outline: none;
}

/* line 17, ../../UniServerZ/www/akas-khaoyai-master/scss/style-x.scss */
.navbar-toggler {
  padding-bottom: 20px;
}

/* line 20, ../../UniServerZ/www/akas-khaoyai-master/scss/style-x.scss */
picture {
  width: 100vw;
}

/* line 23, ../../UniServerZ/www/akas-khaoyai-master/scss/style-x.scss */
.cover-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

/* line 33, ../../UniServerZ/www/akas-khaoyai-master/scss/style-x.scss */
.img-over-size {
  max-width: fit-content;
  height: 25.8rem;
  width: auto;
}

/* line 40, ../../UniServerZ/www/akas-khaoyai-master/scss/style-x.scss */
.ralative-block {
  position: relative;
  overflow: hidden;
  width: 100%;
}

/* line 45, ../../UniServerZ/www/akas-khaoyai-master/scss/style-x.scss */
.gap-image {
  padding: 0.8rem 0.8rem;
}

/* line 48, ../../UniServerZ/www/akas-khaoyai-master/scss/style-x.scss */
.gap-block {
  padding: 0;
}

/* line 51, ../../UniServerZ/www/akas-khaoyai-master/scss/style-x.scss */
.btn-space {
  margin: 1.6rem auto 0;
  display: block;
  line-height: 3;
}

/* line 56, ../../UniServerZ/www/akas-khaoyai-master/scss/style-x.scss */
.block-content {
  padding: 10rem 0;
}

/* line 59, ../../UniServerZ/www/akas-khaoyai-master/scss/style-x.scss */
.no-padding {
  padding: 0;
}

/* line 62, ../../UniServerZ/www/akas-khaoyai-master/scss/style-x.scss */
.top-40 {
  padding-top: 4rem;
}

/* line 65, ../../UniServerZ/www/akas-khaoyai-master/scss/style-x.scss */
.top-0 {
  padding-top: 0rem;
}

/* line 68, ../../UniServerZ/www/akas-khaoyai-master/scss/style-x.scss */
.nobottom {
  padding-bottom: 0;
}

/* line 71, ../../UniServerZ/www/akas-khaoyai-master/scss/style-x.scss */
.padding-top-16 {
  padding-top: 1.6rem;
}

/* line 74, ../../UniServerZ/www/akas-khaoyai-master/scss/style-x.scss */
.padding-left-80 {
  padding-left: 8rem;
}

/* line 78, ../../UniServerZ/www/akas-khaoyai-master/scss/style-x.scss */
.space-word {
  margin-bottom: 4rem;
  display: block;
  width: 100%;
}

/* line 83, ../../UniServerZ/www/akas-khaoyai-master/scss/style-x.scss */
.img-fluid {
  max-width: 100%;
  height: auto;
  width: 100%;
}

/* line 88, ../../UniServerZ/www/akas-khaoyai-master/scss/style-x.scss */
.banner {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

/* line 93, ../../UniServerZ/www/akas-khaoyai-master/scss/style-x.scss */
.btn-register .fa.fa-long-arrow-left {
  font-size: 2rem;
  padding: 0 3px;
  color: #ffffff;
}

/* line 98, ../../UniServerZ/www/akas-khaoyai-master/scss/style-x.scss */
.menu {
  transform: translate(0);
  border: 1px solid rgba(0, 0, 0, 0.7);
  transition: transform 0.75s ease;
  -webkit-transition: transform 0.75s ease;
  width: 80px;
  background-color: #ffffff;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9;
  cursor: pointer;
}

/* line 114, ../../UniServerZ/www/akas-khaoyai-master/scss/style-x.scss */
.menu .title-menu {
  transform: rotate(-90deg);
  font-weight: bold;
  color: #51534a;
  height: 8vh;
  width: 70vh;
  text-align: center;
  vertical-align: middle;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* line 127, ../../UniServerZ/www/akas-khaoyai-master/scss/style-x.scss */
.menu.show {
  transform: translate(415px);
}

/* line 131, ../../UniServerZ/www/akas-khaoyai-master/scss/style-x.scss */
#menuList {
  transform: translate(-416px);
  width: 416px;
  border: 1px solid rgba(0, 0, 0, 0.7);
  transition: transform 0.75s ease;
  -webkit-transition: transform 0.75s ease;
  background-color: #fff;
  position: fixed;
  padding: 30px;
  text-align: center;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 9;
}

/* line 145, ../../UniServerZ/www/akas-khaoyai-master/scss/style-x.scss */
#menuList a {
  display: block;
  margin: 0;
  padding: 3.3rem 0;
}

/* line 150, ../../UniServerZ/www/akas-khaoyai-master/scss/style-x.scss */
#menuList.show {
  transform: translate(0);
}

/* line 154, ../../UniServerZ/www/akas-khaoyai-master/scss/style-x.scss */
#coverBlur {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  transition: all 0.75s ease;
  -webkit-transition: all 0.75s ease;
}

/* line 166, ../../UniServerZ/www/akas-khaoyai-master/scss/style-x.scss */
#coverBlur.show {
  opacity: 1;
  visibility: visible;
}

/* line 171, ../../UniServerZ/www/akas-khaoyai-master/scss/style-x.scss */
.menu-vertical-center {
  top: 50%;
  position: relative;
  transform: translateY(-50%);
}

/* line 176, ../../UniServerZ/www/akas-khaoyai-master/scss/style-x.scss */
.menu.show #menuList {
  transform: translate(300px);
}

/* line 180, ../../UniServerZ/www/akas-khaoyai-master/scss/style-x.scss */
.concept-detail {
  padding: 0 13rem;
}

/* line 183, ../../UniServerZ/www/akas-khaoyai-master/scss/style-x.scss */
.line-moutain {
  position: absolute;
  bottom: 0;
  width: auto;
  z-index: -1;
}

/* line 189, ../../UniServerZ/www/akas-khaoyai-master/scss/style-x.scss */
.bg-gallery {
  background-color: #eae8e1;
  width: 59%;
  margin: auto;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  z-index: -1;
}

/* line 199, ../../UniServerZ/www/akas-khaoyai-master/scss/style-x.scss */
.slider {
  margin: 11% 0;
}

/* line 202, ../../UniServerZ/www/akas-khaoyai-master/scss/style-x.scss */
.contact {
  margin-top: 6.4rem;
  background-color: #f6f5f3;
}

/* line 205, ../../UniServerZ/www/akas-khaoyai-master/scss/style-x.scss */
.contact img.google-map {
  padding: 11rem;
}

/* line 208, ../../UniServerZ/www/akas-khaoyai-master/scss/style-x.scss */
.contact a {
  margin: 5rem 0;
}

/* line 212, ../../UniServerZ/www/akas-khaoyai-master/scss/style-x.scss */
.coppyright {
  background-color: #694231;
  color: #ffffff;
  padding: 12.5px;
  margin: 0;
}

/* line 218, ../../UniServerZ/www/akas-khaoyai-master/scss/style-x.scss */
.owl-stage {
  padding-left: 0 !important;
}

/* line 221, ../../UniServerZ/www/akas-khaoyai-master/scss/style-x.scss */
.owl-dots {
  position: absolute;
  bottom: 0;
  display: inline-block;
  left: 0;
  right: 0;
  margin: auto;
}

/* line 229, ../../UniServerZ/www/akas-khaoyai-master/scss/style-x.scss */
.project {
  display: block;
  position: relative;
}

/* line 233, ../../UniServerZ/www/akas-khaoyai-master/scss/style-x.scss */
.image-cover {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: all 0.75s ease;
  -webkit-transition: all 0.75s ease;
  opacity: 0;
}

/* line 243, ../../UniServerZ/www/akas-khaoyai-master/scss/style-x.scss */
.image-cover.actived {
  opacity: 1;
}

/* line 247, ../../UniServerZ/www/akas-khaoyai-master/scss/style-x.scss */
.out-proect-home .text-hover {
  position: absolute;
  color: #fff;
  padding: 5rem;
  transition: all 0.75s ease;
  -webkit-transition: all 0.75s ease;
  transform: translateY(0px);
  opacity: 0;
  width: 45%;
}

/* line 256, ../../UniServerZ/www/akas-khaoyai-master/scss/style-x.scss */
.out-proect-home .text-hover .flaticon-next {
  font-size: 3.6rem;
}

/* line 259, ../../UniServerZ/www/akas-khaoyai-master/scss/style-x.scss */
.out-proect-home .text-hover.actived {
  opacity: 1;
  transform: translateY(-150px);
}

/* line 265, ../../UniServerZ/www/akas-khaoyai-master/scss/style-x.scss */
.out-proect .text-hover h2 {
  position: fixed;
  color: #fff;
  padding: 5rem;
  transition: all 0.75s ease;
  -webkit-transition: all 0.75s ease;
  transform: translateY(-200px);
  opacity: 1;
  width: 45%;
}

/* line 275, ../../UniServerZ/www/akas-khaoyai-master/scss/style-x.scss */
.out-proect .text-hover p {
  position: fixed;
  color: #fff;
  padding: 5rem;
  transition: all 0.75s ease;
  -webkit-transition: all 0.75s ease;
  transform: translateY(-100px);
  opacity: 0;
  width: 45%;
}

/* line 286, ../../UniServerZ/www/akas-khaoyai-master/scss/style-x.scss */
.out-proect .text-hover .flaticon-next {
  font-size: 3.6rem;
}

/* line 289, ../../UniServerZ/www/akas-khaoyai-master/scss/style-x.scss */
.out-proect .text-hover h2,
.out-proect .text-hover p {
  color: #fff;
}

/* line 293, ../../UniServerZ/www/akas-khaoyai-master/scss/style-x.scss */
.out-proect .text-hover.actived h2 {
  opacity: 1;
  transform: translateY(-260px);
}

/* line 297, ../../UniServerZ/www/akas-khaoyai-master/scss/style-x.scss */
.out-proect .text-hover.actived p {
  opacity: 1;
  transform: translateY(-200px);
}

/* line 303, ../../UniServerZ/www/akas-khaoyai-master/scss/style-x.scss */
.form-register {
  position: absolute;
  width: 49.6rem;
  background: #fff;
  top: 0;
  bottom: 0;
  right: 0;
  padding: 4.8rem;
  z-index: 1;
  transform: translate(49.6rem);
  transition: transform 0.75s ease;
  -webkit-transition: transform 0.75s ease;
}

/* line 315, ../../UniServerZ/www/akas-khaoyai-master/scss/style-x.scss */
.form-register.show {
  transform: translate(0);
}

/* line 319, ../../UniServerZ/www/akas-khaoyai-master/scss/style-x.scss */
.contact-us .form-register {
  transform: translate(-15%);
  margin: 5.5rem 0 11rem;
  height: auto;
}

/* line 324, ../../UniServerZ/www/akas-khaoyai-master/scss/style-x.scss */
input[type="text"] {
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.7);
  padding: 4rem 0 1.5rem;
  color: #51534a;
  -webkit-appearance: none;
}

/* line 332, ../../UniServerZ/www/akas-khaoyai-master/scss/style-x.scss */
textarea {
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.7);
  padding: 4rem 0 1.5rem;
  height: 13.6rem;
  color: #51534a;
  -webkit-appearance: none;
}

/* line 341, ../../UniServerZ/www/akas-khaoyai-master/scss/style-x.scss */
.project-detail {
  position: absolute;
  top: 9rem;
  left: 18.9rem;
  z-index: 2;
  color: #fff;
  width: 45%;
  transition-delay: 2s;
  transition: all 0.75s ease;
}

/* line 350, ../../UniServerZ/www/akas-khaoyai-master/scss/style-x.scss */
.project-detail h2 {
  color: #fff;
}

/* line 352, ../../UniServerZ/www/akas-khaoyai-master/scss/style-x.scss */
.project-detail h2::before {
  content: "";
  display: inline-block;
  width: 48px;
  height: 2px;
  background-color: #ffffff;
  vertical-align: middle;
  margin: 0 12px 0 -60px;
}

/* line 362, ../../UniServerZ/www/akas-khaoyai-master/scss/style-x.scss */
.project-detail p {
  color: #fff;
}

/* line 366, ../../UniServerZ/www/akas-khaoyai-master/scss/style-x.scss */
.block-villa {
  width: 50%;
}

/* line 369, ../../UniServerZ/www/akas-khaoyai-master/scss/style-x.scss */
.block-condo {
  width: 50%;
}

/* line 372, ../../UniServerZ/www/akas-khaoyai-master/scss/style-x.scss */
.padding-news {
  padding: 32px;
}

/* line 375, ../../UniServerZ/www/akas-khaoyai-master/scss/style-x.scss */
.news-detail p {
  max-width: 368px;
}

/* line 378, ../../UniServerZ/www/akas-khaoyai-master/scss/style-x.scss */
.news-detail img {
  width: 100%;
}

/* line 381, ../../UniServerZ/www/akas-khaoyai-master/scss/style-x.scss */
.owl-nav {
  position: absolute;
  top: 40.5%;
  right: 5%;
  color: #fff;
  font-size: 100px;
  left: 5%;
  display: flex;
  justify-content: space-between;
}

/* line 392, ../../UniServerZ/www/akas-khaoyai-master/scss/style-x.scss */
.owl-theme .owl-nav [class*="owl-"] {
  color: #51534a;
  margin: 5px;
  background: #ffc107;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 52px;
  padding: 10px 15px;
  text-align: center;
  width: 80px;
  height: 80px;
  opacity: 0.7;
  background-color: #ffffff;
}

/* line 408, ../../UniServerZ/www/akas-khaoyai-master/scss/style-x.scss */
.about-us .owl-stage-outer {
  height: 100vh;
}

/* line 411, ../../UniServerZ/www/akas-khaoyai-master/scss/style-x.scss */
.menu-building {
  padding: 4.8rem;
}

/* line 414, ../../UniServerZ/www/akas-khaoyai-master/scss/style-x.scss */
.tab-content {
  width: 100%;
}

/* line 417, ../../UniServerZ/www/akas-khaoyai-master/scss/style-x.scss */
.tab-content > .tab-pane.active {
  display: flex !important;
}

/* line 420, ../../UniServerZ/www/akas-khaoyai-master/scss/style-x.scss */
.tab-content > .tab-pane {
  display: none !important;
}

/* line 423, ../../UniServerZ/www/akas-khaoyai-master/scss/style-x.scss */
.nav-tabs .nav-link {
  border: solid 1px #694231;
  color: #694231;
  font-weight: bold;
}

/* line 428, ../../UniServerZ/www/akas-khaoyai-master/scss/style-x.scss */
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  border: solid 1px transparent;
  background-color: #694231;
  color: #ffffff;
}

/* line 434, ../../UniServerZ/www/akas-khaoyai-master/scss/style-x.scss */
.item-type-block {
  margin: 7.6rem 0;
  padding: 0 8rem;
  position: relative;
}

/* line 438, ../../UniServerZ/www/akas-khaoyai-master/scss/style-x.scss */
.item-type-block .bg-color {
  position: absolute;
  left: 0;
  right: 0;
  top: 9%;
  bottom: 25%;
  z-index: -1;
}

/* line 447, ../../UniServerZ/www/akas-khaoyai-master/scss/style-x.scss */
.item-type h3 {
  color: #694231;
}

/* line 450, ../../UniServerZ/www/akas-khaoyai-master/scss/style-x.scss */
.proect-detail {
  padding-top: 4.8rem;
  position: relative;
  z-index: 0;
}

/* line 455, ../../UniServerZ/www/akas-khaoyai-master/scss/style-x.scss */
.menu-proect-detail {
  padding-right: 8rem;
}

/* line 458, ../../UniServerZ/www/akas-khaoyai-master/scss/style-x.scss */
.bg-full-height {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
}

/* line 464, ../../UniServerZ/www/akas-khaoyai-master/scss/style-x.scss */
.type-name-detail {
  padding: 0 4.8rem;
}

/* line 467, ../../UniServerZ/www/akas-khaoyai-master/scss/style-x.scss */
.floor-block {
  width: 24.8rem;
  right: 8rem;
  position: absolute;
  top: 36%;
  margin: auto;
}

/* line 474, ../../UniServerZ/www/akas-khaoyai-master/scss/style-x.scss */
.padding-menu {
  padding: 6.4rem 4.8rem;
  font-weight: bold;
}

/* line 477, ../../UniServerZ/www/akas-khaoyai-master/scss/style-x.scss */
.padding-menu a {
  letter-spacing: 3px;
  color: #323e48;
}

/* line 480, ../../UniServerZ/www/akas-khaoyai-master/scss/style-x.scss */
.padding-menu a:last-child {
  color: #323e48;
  opacity: 0.5;
}

/* line 485, ../../UniServerZ/www/akas-khaoyai-master/scss/style-x.scss */
.padding-menu i {
  padding: 0 0.5rem;
}

/* line 487, ../../UniServerZ/www/akas-khaoyai-master/scss/style-x.scss */
.padding-menu i::before {
  font-weight: 12px;
}

/*# sourceMappingURL=style.css.map */