/* line 31, ../../UniServerZ/www/akas-khaoyai-master/scss/style-guide.scss */
html {
  font-size: 62.5%;
}

/* line 34, ../../UniServerZ/www/akas-khaoyai-master/scss/style-guide.scss */
h1 {
  font-size: 3.6rem;
  line-height: 1.3;
  font-weight: 600;
  padding: 5rem 0 5rem;
  margin: 0;
}

/* line 41, ../../UniServerZ/www/akas-khaoyai-master/scss/style-guide.scss */
h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 3.6rem;
  line-height: 1;
  font-weight: 600;
  padding: 1.6rem 0 1.6rem;
  margin: 0;
}

/* line 49, ../../UniServerZ/www/akas-khaoyai-master/scss/style-guide.scss */
h3 {
  font-size: 2.1rem;
  line-height: 1.7;
  font-weight: 600;
  padding: 1.6rem 0 3.2rem;
}

/* line 55, ../../UniServerZ/www/akas-khaoyai-master/scss/style-guide.scss */
h4 {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.375;
  padding: 2.2rem 0 1rem;
}

/* line 61, ../../UniServerZ/www/akas-khaoyai-master/scss/style-guide.scss */
a {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.375;
  padding: 0;
}

/* line 67, ../../UniServerZ/www/akas-khaoyai-master/scss/style-guide.scss */
body,
p {
  font-family: "Prompt", "sans-serif";
  font-size: 1.6rem;
  font-weight: normal;
  line-height: 1.375;
  padding: 0;
  color: #000000;
  -webkit-appearance: none;
}

/* line 77, ../../UniServerZ/www/akas-khaoyai-master/scss/style-guide.scss */
div:focus {
  outline: none;
}

/* line 80, ../../UniServerZ/www/akas-khaoyai-master/scss/style-guide.scss */
.bg-nude {
  background-color: #d6d2c4;
}

/* line 83, ../../UniServerZ/www/akas-khaoyai-master/scss/style-guide.scss */
.bg-brown {
  background-color: #d0cac4;
}

/* line 86, ../../UniServerZ/www/akas-khaoyai-master/scss/style-guide.scss */
.bg-cream {
  background-color: #fafafa;
}

/* line 89, ../../UniServerZ/www/akas-khaoyai-master/scss/style-guide.scss */
.bg-grey {
  background-color: #51534a;
}

/* line 92, ../../UniServerZ/www/akas-khaoyai-master/scss/style-guide.scss */
.form-bg {
  height: 100vh;
  background-color: #f5f4f2;
}

/* line 96, ../../UniServerZ/www/akas-khaoyai-master/scss/style-guide.scss */
.height-100 {
  height: 100vh;
}

/* line 100, ../../UniServerZ/www/akas-khaoyai-master/scss/style-guide.scss */
.btn-default {
  width: 280px;
  height: 76px;
  display: block;
  letter-spacing: 3px;
  font-size: 1.6rem;
  font-weight: 600;
  color: #ffffff;
  text-align: center;
}

/* line 110, ../../UniServerZ/www/akas-khaoyai-master/scss/style-guide.scss */
.btn-default:hover {
  color: #ffffff;
}

/* line 113, ../../UniServerZ/www/akas-khaoyai-master/scss/style-guide.scss */
.btn-default:focus {
  color: #ffffff;
  outline: none;
}

/* line 118, ../../UniServerZ/www/akas-khaoyai-master/scss/style-guide.scss */
.btn-secondary {
  border-radius: 2.7rem;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
  padding: 0.8rem 2.1rem;
  background-color: #ffffff;
  margin: 0 0.5rem;
  color: #000000;
}

/* line 125, ../../UniServerZ/www/akas-khaoyai-master/scss/style-guide.scss */
.btn-secondary:hover {
  background-color: #eeeeee;
  color: #000000;
}

/* line 129, ../../UniServerZ/www/akas-khaoyai-master/scss/style-guide.scss */
.btn-secondary:focus {
  background-color: #ffffff;
  color: #000000;
  box-shadow: none;
  outline: none;
}

/* line 136, ../../UniServerZ/www/akas-khaoyai-master/scss/style-guide.scss */
.btn-tertiary {
  border-radius: 2.7rem;
  border: solid 1px #cecece;
  background-color: #ffffff;
  padding: 0.8rem 2.1rem;
  margin: 0 0.5rem;
  color: #000000;
}

/* line 143, ../../UniServerZ/www/akas-khaoyai-master/scss/style-guide.scss */
.btn-tertiary:hover {
  border: solid 1px #656565;
  color: #000000;
}

/* line 147, ../../UniServerZ/www/akas-khaoyai-master/scss/style-guide.scss */
.btn-tertiary:focus {
  border: solid 1px #656565;
  color: #000000;
  outline: none;
}

/* line 153, ../../UniServerZ/www/akas-khaoyai-master/scss/style-guide.scss */
.btn-register {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.75s ease;
  -webkit-transition: transform 0.75s ease;
  transform: translate(0rem);
  z-index: 1;
}

/* line 165, ../../UniServerZ/www/akas-khaoyai-master/scss/style-guide.scss */
.btn-register.show {
  transform: translate(-30rem);
  font-size: 0;
  justify-content: left;
}

/* line 169, ../../UniServerZ/www/akas-khaoyai-master/scss/style-guide.scss */
.btn-register.show .fa.fa-long-arrow-left {
  transform: rotate(180deg);
  padding: 0 3rem;
  color: #51534a;
}

/* line 176, ../../UniServerZ/www/akas-khaoyai-master/scss/style-guide.scss */
.btn-register2 {
  width: 100%;
  margin: 4.8rem 0;
  position: static;
  border: none;
}

/* line 182, ../../UniServerZ/www/akas-khaoyai-master/scss/style-guide.scss */
.btn-transparent {
  padding: 3rem 0;
  display: flex;
  width: 40rem;
  border: solid 1px #694231;
  text-align: center;
  justify-content: center;
}

/* line 189, ../../UniServerZ/www/akas-khaoyai-master/scss/style-guide.scss */
.btn-transparent:hover {
  font-weight: 600;
}

/* line 193, ../../UniServerZ/www/akas-khaoyai-master/scss/style-guide.scss */
.flaticon-facebook {
  display: block;
  position: absolute;
  bottom: 10%;
  width: 100%;
  text-align: center;
  font-size: 2rem;
  left: 0;
  right: 0;
}

/* line 203, ../../UniServerZ/www/akas-khaoyai-master/scss/style-guide.scss */
.flaticon-tel {
  display: block;
  position: absolute;
  bottom: 5%;
  width: 100%;
  text-align: center;
  font-size: 2rem;
  left: 0;
  right: 0;
}

/* line 213, ../../UniServerZ/www/akas-khaoyai-master/scss/style-guide.scss */
.flaticon-next,
.flaticon-back {
  font-size: 1.7rem;
  padding: 0 18px;
  animation: arrow 1s linear infinite;
  animation-play-state: paused;
}

@keyframes arrow {
  0% {
    transform: translate(0px);
  }
  50% {
    transform: translate(4px);
  }
  100% {
    transform: translate(0px);
  }
}

/* line 232, ../../UniServerZ/www/akas-khaoyai-master/scss/style-guide.scss */
span:focus,
select:focus,
input:focus,
textarea:focus {
  border-radius: 0.6rem;
  border: solid 1px #000000;
  outline: none;
}

/* line 240, ../../UniServerZ/www/akas-khaoyai-master/scss/style-guide.scss */
a {
  transition: all 0.3s ease-in-out;
  color: #000000;
}

/* line 244, ../../UniServerZ/www/akas-khaoyai-master/scss/style-guide.scss */
a:hover {
  text-decoration: none;
  color: #000000;
}

/* line 248, ../../UniServerZ/www/akas-khaoyai-master/scss/style-guide.scss */
.img-effect {
  -webkit-transition: 50s all cubic-bezier(0, 0.72, 0.31, 1);
  transition: 50s all cubic-bezier(0, 0.72, 0.31, 1);
  transform: scale(1);
}

/* line 252, ../../UniServerZ/www/akas-khaoyai-master/scss/style-guide.scss */
.img-effect:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

/* line 258, ../../UniServerZ/www/akas-khaoyai-master/scss/style-guide.scss */
.btn-secondary:not(:disabled):not(.disabled):active:focus,
.btn-secondary:not(:disabled):not(.disabled).active:focus,
.show > .btn-secondary.dropdown-toggle:focus {
  box-shadow: none;
}

/* line 263, ../../UniServerZ/www/akas-khaoyai-master/scss/style-guide.scss */
img.fit-left {
  object-fit: cover;
  object-position: left center;
  height: calc(100vh);
}

/* line 268, ../../UniServerZ/www/akas-khaoyai-master/scss/style-guide.scss */
img.fit-right {
  object-fit: cover;
  object-position: right center;
  height: calc(100vh);
}

/* line 273, ../../UniServerZ/www/akas-khaoyai-master/scss/style-guide.scss */
img.object-fit {
  object-fit: cover;
  height: 100vh;
}

/* line 277, ../../UniServerZ/www/akas-khaoyai-master/scss/style-guide.scss */
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 4.7rem;
}

/* line 284, ../../UniServerZ/www/akas-khaoyai-master/scss/style-guide.scss */
[class^="flaticon-"]:before,
[class*=" flaticon-"]:before,
[class^="flaticon-"]:after,
[class*=" flaticon-"]:after {
  margin-left: 0;
}

/* line 291, ../../UniServerZ/www/akas-khaoyai-master/scss/style-guide.scss */
strong {
  font-weight: bold;
  text-transform: uppercase;
}

/* line 3, ../../UniServerZ/www/akas-khaoyai-master/scss/style-form.scss */
.wpcf7-form select,
.wpcf7-form input {
  -webkit-appearance: none;
  border-radius: 0.6rem;
  border: solid 1px #cecece;
  background-color: #ffffff;
  width: 100%;
  padding: 1.6rem 2rem;
}

/* line 14, ../../UniServerZ/www/akas-khaoyai-master/scss/style-form.scss */
.wpcf7-form .Selecttopic select {
  color: #656565;
}

/* line 17, ../../UniServerZ/www/akas-khaoyai-master/scss/style-form.scss */
.wpcf7-form .Selecttopic::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 24px;
  margin-top: -5px;
  pointer-events: none;
  border-top: 8px solid #656565;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

/* line 36, ../../UniServerZ/www/akas-khaoyai-master/scss/style-form.scss */
.wpcf7-form .Selecttopic::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 28px;
  margin-top: -5px;
  pointer-events: none;
  border-top: 5px solid #fff;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
}

/* line 48, ../../UniServerZ/www/akas-khaoyai-master/scss/style-form.scss */
.wpcf7-form p:last-of-type {
  display: block;
  width: auto;
  margin: 0;
}

/* line 52, ../../UniServerZ/www/akas-khaoyai-master/scss/style-form.scss */
.wpcf7-form p:last-of-type input {
  cursor: pointer;
  border-radius: 2.7rem;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
  background-color: #0070c9;
  width: 20rem;
  display: block;
  padding: 1.6rem;
  color: #ffffff;
  text-align: center;
  margin: 3rem auto 0;
  outline: none;
  transition: all 0.3s ease-in-out;
}

/* line 65, ../../UniServerZ/www/akas-khaoyai-master/scss/style-form.scss */
.wpcf7-form p:last-of-type input:hover {
  background-color: #097fdc;
}

/* line 70, ../../UniServerZ/www/akas-khaoyai-master/scss/style-form.scss */
.wpcf7-form p:nth-last-of-type(2) {
  display: block;
  width: 100%;
}

/* line 73, ../../UniServerZ/www/akas-khaoyai-master/scss/style-form.scss */
.wpcf7-form p:nth-last-of-type(2) textarea {
  border-radius: 0.6rem;
  border: solid 1px #cecece;
  background-color: #ffffff;
  width: 100%;
  padding: 1.6rem 2rem;
  height: 17.6rem;
  overflow: auto;
}

/* line 83, ../../UniServerZ/www/akas-khaoyai-master/scss/style-form.scss */
.wpcf7-form p {
  display: inline-block;
  width: 49%;
}

/* line 87, ../../UniServerZ/www/akas-khaoyai-master/scss/style-form.scss */
.wpcf7-form .ajax-loader {
  position: absolute;
}

/* line 94, ../../UniServerZ/www/akas-khaoyai-master/scss/style-form.scss */
.form-dream-home {
  background-color: #6f7f97;
  padding: 2rem 8rem;
}

/* line 97, ../../UniServerZ/www/akas-khaoyai-master/scss/style-form.scss */
.form-dream-home h2,
.form-dream-home p {
  color: #ffffff;
}

/* line 101, ../../UniServerZ/www/akas-khaoyai-master/scss/style-form.scss */
.form-dream-home .wpcf7-form p {
  width: 100%;
}

/* line 104, ../../UniServerZ/www/akas-khaoyai-master/scss/style-form.scss */
.form-dream-home .wpcf7-form p:last-of-type input {
  cursor: pointer;
  border-radius: 2.7rem;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  width: 20rem;
  display: block;
  padding: 1rem;
  color: #000000;
  text-align: center;
  margin: 1rem auto 0;
  outline: none;
  float: right;
}

/* line 118, ../../UniServerZ/www/akas-khaoyai-master/scss/style-form.scss */
.form-dream-home .wpcf7-form select,
.form-dream-home .wpcf7-form input {
  padding: 1rem 2rem;
}

/* line 122, ../../UniServerZ/www/akas-khaoyai-master/scss/style-form.scss */
.form-dream-home p:nth-last-of-type(2) {
  display: block;
  width: 100%;
}

/* line 125, ../../UniServerZ/www/akas-khaoyai-master/scss/style-form.scss */
.form-dream-home p:nth-last-of-type(2) textarea {
  border-radius: 0.6rem;
  border: solid 1px #cecece;
  background-color: #ffffff;
  width: 100%;
  padding: 1.6rem 2rem;
  height: 10rem;
  overflow: auto;
}

/*# sourceMappingURL=style-form.css.map */