/* line 1, ../../UniServerZ/www/akas-khaoyai-master/scss/style-mobile.scss */
.showin-mobile {
  display: none;
}

/* line 4, ../../UniServerZ/www/akas-khaoyai-master/scss/style-mobile.scss */
.mobile {
  display: none;
}

@media (max-width: 768px) {
  /* line 9, ../../UniServerZ/www/akas-khaoyai-master/scss/style-mobile.scss */
  .block-content {
    padding: 2.7rem;
  }
  /* line 12, ../../UniServerZ/www/akas-khaoyai-master/scss/style-mobile.scss */
  .order-xs-first {
    order: -1;
  }
  /* line 15, ../../UniServerZ/www/akas-khaoyai-master/scss/style-mobile.scss */
  .order-xs-last {
    order: 13;
  }
  /* line 18, ../../UniServerZ/www/akas-khaoyai-master/scss/style-mobile.scss */
  h1 {
    font-size: 4.2rem;
  }
  /* line 21, ../../UniServerZ/www/akas-khaoyai-master/scss/style-mobile.scss */
  .sub-menu {
    width: 100%;
    overflow: auto;
    white-space: nowrap;
    padding: 1rem 0 4rem;
  }
  /* line 27, ../../UniServerZ/www/akas-khaoyai-master/scss/style-mobile.scss */
  .overflow {
    max-height: none;
    overflow: hidden;
  }
  /* line 31, ../../UniServerZ/www/akas-khaoyai-master/scss/style-mobile.scss */
  .btn-tertiary {
    display: inline-block;
  }
  /* line 34, ../../UniServerZ/www/akas-khaoyai-master/scss/style-mobile.scss */
  .desktop {
    display: none;
  }
  /* line 37, ../../UniServerZ/www/akas-khaoyai-master/scss/style-mobile.scss */
  .mobile {
    display: block;
  }
}

@media (max-width: 767px) {
  /* line 61, ../../UniServerZ/www/akas-khaoyai-master/scss/style-mobile.scss */
  nav.navbar .logo img {
    height: 4.4rem;
  }
  /* line 64, ../../UniServerZ/www/akas-khaoyai-master/scss/style-mobile.scss */
  .block-content {
    padding: 4rem 2.7rem 0;
  }
  /* line 68, ../../UniServerZ/www/akas-khaoyai-master/scss/style-mobile.scss */
  .goto-about h2 {
    font-size: 2.6rem;
    text-align: center;
  }
  /* line 73, ../../UniServerZ/www/akas-khaoyai-master/scss/style-mobile.scss */
  .space-word {
    margin-bottom: 0;
  }
  /* line 76, ../../UniServerZ/www/akas-khaoyai-master/scss/style-mobile.scss */
  .gap-image {
    padding: 1.6rem 0;
  }
  /* line 79, ../../UniServerZ/www/akas-khaoyai-master/scss/style-mobile.scss */
  .img-over-size {
    max-width: 100%;
    height: auto;
    width: 100%;
  }
  /* line 84, ../../UniServerZ/www/akas-khaoyai-master/scss/style-mobile.scss */
  #navbarCollapse {
    text-align: center;
    padding: 15rem 4rem;
    background: #fff;
    position: fixed;
    left: 0px;
    width: 100%;
    top: 0%;
    z-index: -1;
    margin: auto;
    height: 100vh;
    transform: translateX(100%);
    transition-timing-function: ease-in;
    transition: 0.5s;
  }
  /* line 98, ../../UniServerZ/www/akas-khaoyai-master/scss/style-mobile.scss */
  #navbarCollapse.show {
    transition: 0.5s;
    transition-timing-function: ease-out;
    transform: translateX(0);
    opacity: 1;
  }
  /* line 106, ../../UniServerZ/www/akas-khaoyai-master/scss/style-mobile.scss */
  .navbar-nav .nav-link {
    font-size: 2.6rem;
  }
  /* line 109, ../../UniServerZ/www/akas-khaoyai-master/scss/style-mobile.scss */
  .collapse:not(.show) {
    display: block;
    opacity: 0;
  }
  /* line 113, ../../UniServerZ/www/akas-khaoyai-master/scss/style-mobile.scss */
  .showin-mobile {
    display: block;
  }
  /* line 116, ../../UniServerZ/www/akas-khaoyai-master/scss/style-mobile.scss */
  .sub-link {
    display: none;
  }
  /* line 119, ../../UniServerZ/www/akas-khaoyai-master/scss/style-mobile.scss */
  nav.navbar.sub-menu-detail {
    position: relative;
    padding: 0rem 0rem 0rem 2.7rem;
  }
  /* line 123, ../../UniServerZ/www/akas-khaoyai-master/scss/style-mobile.scss */
  #anchor-link {
    font-size: 1.6rem;
  }
  /* line 127, ../../UniServerZ/www/akas-khaoyai-master/scss/style-mobile.scss */
  .sub-menu-detail .dropup,
  .sub-menu-detail .dropright,
  .sub-menu-detail .dropdown,
  .sub-menu-detail .dropleft {
    position: static;
  }
  /* line 133, ../../UniServerZ/www/akas-khaoyai-master/scss/style-mobile.scss */
  .sub-menu-detail .dropdown-menu.show {
    width: 100vw;
    margin: 0;
    border: 0;
  }
  /* line 137, ../../UniServerZ/www/akas-khaoyai-master/scss/style-mobile.scss */
  .sub-menu-detail .dropdown-menu.show a {
    padding: 1.6rem;
  }
  /* line 143, ../../UniServerZ/www/akas-khaoyai-master/scss/style-mobile.scss */
  #collection nav.navbar {
    top: 8rem;
  }
  /* line 147, ../../UniServerZ/www/akas-khaoyai-master/scss/style-mobile.scss */
  .dropdown-toggle::after {
    content: "";
    border: none;
    display: none;
  }
  /* line 152, ../../UniServerZ/www/akas-khaoyai-master/scss/style-mobile.scss */
  .block-dropdown {
    padding: 1.6rem 0rem;
  }
  /* line 155, ../../UniServerZ/www/akas-khaoyai-master/scss/style-mobile.scss */
  .block-dropdown .icon-Down-Arrow::before {
    transform: rotate(0deg);
    display: inline-block;
    transition: all 0.3s ease;
  }
  /* line 160, ../../UniServerZ/www/akas-khaoyai-master/scss/style-mobile.scss */
  .block-dropdown.show .icon-Down-Arrow::before {
    transform: rotate(180deg);
  }
  /* line 163, ../../UniServerZ/www/akas-khaoyai-master/scss/style-mobile.scss */
  .home-collection {
    background-color: #fafafa;
  }
  /* line 166, ../../UniServerZ/www/akas-khaoyai-master/scss/style-mobile.scss */
  .site-footer {
    margin-top: 10rem;
  }
  /* line 168, ../../UniServerZ/www/akas-khaoyai-master/scss/style-mobile.scss */
  .site-footer .simple-steps .step {
    margin: 0;
    padding: 0;
  }
  /* line 173, ../../UniServerZ/www/akas-khaoyai-master/scss/style-mobile.scss */
  .catalogue {
    margin: 5rem 0;
  }
  /* line 176, ../../UniServerZ/www/akas-khaoyai-master/scss/style-mobile.scss */
  .relative {
    position: relative;
  }
  /* line 179, ../../UniServerZ/www/akas-khaoyai-master/scss/style-mobile.scss */
  .block-banner .text-banner {
    padding: 2.7rem;
  }
  /* line 181, ../../UniServerZ/www/akas-khaoyai-master/scss/style-mobile.scss */
  .block-banner .text-banner h1 {
    font-size: 4.2rem;
    text-align: left;
  }
  /* line 186, ../../UniServerZ/www/akas-khaoyai-master/scss/style-mobile.scss */
  .btn-tertiary {
    display: block;
  }
  /* line 189, ../../UniServerZ/www/akas-khaoyai-master/scss/style-mobile.scss */
  .block-images {
    padding: 2rem;
  }
  /* line 192, ../../UniServerZ/www/akas-khaoyai-master/scss/style-mobile.scss */
  .form-dream-home {
    padding: 5rem 2.7rem;
  }
  /* line 195, ../../UniServerZ/www/akas-khaoyai-master/scss/style-mobile.scss */
  .wpcf7-form p:last-of-type input {
    width: 100%;
  }
  /* line 198, ../../UniServerZ/www/akas-khaoyai-master/scss/style-mobile.scss */
  .wpcf7-form p {
    width: 100%;
  }
  /* line 201, ../../UniServerZ/www/akas-khaoyai-master/scss/style-mobile.scss */
  .block-other {
    padding: 5rem 2.7rem;
  }
  /* line 204, ../../UniServerZ/www/akas-khaoyai-master/scss/style-mobile.scss */
  .view-more {
    display: none;
  }
  /* line 207, ../../UniServerZ/www/akas-khaoyai-master/scss/style-mobile.scss */
  .menu-room {
    position: static;
  }
  /* line 210, ../../UniServerZ/www/akas-khaoyai-master/scss/style-mobile.scss */
  #collection nav.navbar {
    padding: 0 2.7rem;
  }
  /* line 213, ../../UniServerZ/www/akas-khaoyai-master/scss/style-mobile.scss */
  .form-dream-home .wpcf7-form p:last-of-type input {
    width: 100%;
  }
  /* line 216, ../../UniServerZ/www/akas-khaoyai-master/scss/style-mobile.scss */
  .btn-back-detail {
    position: absolute;
    z-index: 3;
    left: 3rem;
    top: 3rem;
  }
  /* line 223, ../../UniServerZ/www/akas-khaoyai-master/scss/style-mobile.scss */
  .swiper-container .description {
    width: 100%;
    left: 0;
  }
  /* line 226, ../../UniServerZ/www/akas-khaoyai-master/scss/style-mobile.scss */
  .swiper-container .description h1 {
    text-align: center;
    font-weight: bold;
  }
  /* line 232, ../../UniServerZ/www/akas-khaoyai-master/scss/style-mobile.scss */
  .swiper-container-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    left: 2.7rem;
  }
  /* line 237, ../../UniServerZ/www/akas-khaoyai-master/scss/style-mobile.scss */
  .block-other-slide .swiper-container .swiper-slide {
    padding: 1.6rem 1rem;
  }
  /* line 240, ../../UniServerZ/www/akas-khaoyai-master/scss/style-mobile.scss */
  .swiper-slide.gallery {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
  /* line 245, ../../UniServerZ/www/akas-khaoyai-master/scss/style-mobile.scss */
  .show-gallery {
    margin: auto;
  }
  /* line 248, ../../UniServerZ/www/akas-khaoyai-master/scss/style-mobile.scss */
  .fix-height {
    height: 100%;
  }
}

/*# sourceMappingURL=style-mobile.css.map */