/* Style the video: 100% width and height to cover the entire window */
/* line 2, ../../UniServerZ/www/akas-khaoyai-master/scss/style-video.scss */
#myVideo {
  position: static;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

/* Add some content at the bottom of the video/page */
/* line 11, ../../UniServerZ/www/akas-khaoyai-master/scss/style-video.scss */
.content {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

/* Style the button used to pause/play the video */
/* line 21, ../../UniServerZ/www/akas-khaoyai-master/scss/style-video.scss */
#myBtn {
  padding: 10px;
  border: none;
  background: transparent;
  color: #fff;
  cursor: pointer;
  position: absolute;
  left: 0;
  right: 0;
  top: 32.5%;
  margin: auto;
  height: auto;
}

/* line 35, ../../UniServerZ/www/akas-khaoyai-master/scss/style-video.scss */
#myBtn:hover {
  color: black;
}

/* line 39, ../../UniServerZ/www/akas-khaoyai-master/scss/style-video.scss */
.flaticon-play-button::before {
  font-size: 10rem;
}

@media (min-aspect-ratio: 16 / 9) {
  /* line 45, ../../UniServerZ/www/akas-khaoyai-master/scss/style-video.scss */
  #videoBG {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16 / 9) {
  /* line 51, ../../UniServerZ/www/akas-khaoyai-master/scss/style-video.scss */
  #videoBG {
    width: auto;
    height: 100%;
  }
}

@media (max-width: 767px) {
  /* line 57, ../../UniServerZ/www/akas-khaoyai-master/scss/style-video.scss */
  #videoBG {
    display: none;
  }
  /* line 60, ../../UniServerZ/www/akas-khaoyai-master/scss/style-video.scss */
  .banner {
    background: url("../assets/images/banner.jpg");
    background-size: cover;
  }
}

/*# sourceMappingURL=style-video.css.map */