@font-face {
  font-family: 'Sukhumvit Set Medium';
  src: url("../fonts/sukhumvit/SukhumvitSet-Medium.woff2") format("woff2"), url("../fonts/sukhumvit/SukhumvitSet-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Sukhumvit Set SemiBold';
  src: url("../fonts/sukhumvit/SukhumvitSet-SemiBold.woff2") format("woff2"), url("../fonts/sukhumvit/SukhumvitSet-SemiBold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Sukhumvit Set Thin';
  src: url("../fonts/sukhumvit/SukhumvitSet-Thin.woff2") format("woff2"), url("../fonts/sukhumvit/SukhumvitSet-Thin.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Sukhumvit Set Light';
  src: url("../fonts/sukhumvit/SukhumvitSet-Light.woff2") format("woff2"), url("../fonts/sukhumvit/SukhumvitSet-Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Sukhumvit Set Bold';
  src: url("../fonts/sukhumvit/SukhumvitSet-Bold.woff2") format("woff2"), url("../fonts/sukhumvit/SukhumvitSet-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Sukhumvit Set Text';
  src: url("../fonts/sukhumvit/SukhumvitSet-Text.woff2") format("woff2"), url("../fonts/sukhumvit/SukhumvitSet-Text.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/*# sourceMappingURL=style-fonts.css.map */