/* line 1, ../../UniServerZ/www/akas-khaoyai-master/scss/style-gallery.scss */
.position-lt {
  position: absolute;
  left: 0;
  top: 0;
}

/* line 7, ../../UniServerZ/www/akas-khaoyai-master/scss/style-gallery.scss */
.position-rt {
  position: absolute;
  right: 0;
  top: 0;
}

/* line 13, ../../UniServerZ/www/akas-khaoyai-master/scss/style-gallery.scss */
.position-lb {
  position: absolute;
  left: 0;
  bottom: 0;
}

/* line 19, ../../UniServerZ/www/akas-khaoyai-master/scss/style-gallery.scss */
.position-rb {
  position: absolute;
  right: 0;
  bottom: 0;
}

/* line 25, ../../UniServerZ/www/akas-khaoyai-master/scss/style-gallery.scss */
.position-center {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  margin: auto;
}

/* line 34, ../../UniServerZ/www/akas-khaoyai-master/scss/style-gallery.scss */
.position-lt img {
  height: 48vh;
  object-fit: cover;
  object-position: center;
}

/* line 41, ../../UniServerZ/www/akas-khaoyai-master/scss/style-gallery.scss */
.position-rt img {
  height: 56.5vh;
  object-fit: cover;
  object-position: center;
}

/* line 48, ../../UniServerZ/www/akas-khaoyai-master/scss/style-gallery.scss */
.position-lb img {
  height: 47vh;
  object-fit: cover;
  object-position: center;
}

/* line 55, ../../UniServerZ/www/akas-khaoyai-master/scss/style-gallery.scss */
.position-rb img {
  height: 38.3vh;
  object-fit: cover;
  object-position: center;
}

/* line 62, ../../UniServerZ/www/akas-khaoyai-master/scss/style-gallery.scss */
.position-center img {
  height: 97vh;
  object-fit: cover;
  object-position: center;
}

/* line 69, ../../UniServerZ/www/akas-khaoyai-master/scss/style-gallery.scss */
.cover-img {
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

/* line 75, ../../UniServerZ/www/akas-khaoyai-master/scss/style-gallery.scss */
.cover-img img {
  width: 100%;
  padding: 2px;
  transform: scale(1);
  -webkit-transition: 50s all cubic-bezier(0, 0.72, 0.31, 1);
  transition: 10s all cubic-bezier(0, 0.72, 0.31, 1);
}

/* line 83, ../../UniServerZ/www/akas-khaoyai-master/scss/style-gallery.scss */
.cover-img img:hover {
  transform: scale(1.05);
}

/* line 86, ../../UniServerZ/www/akas-khaoyai-master/scss/style-gallery.scss */
.block-gallery {
  margin-left: 8rem;
  display: block;
  position: absolute;
  width: calc(100% - 8rem);
  height: calc(100% - 4.8rem);
}

/*# sourceMappingURL=style-gallery.css.map */