.showin-mobile {
  display: none;
}
.mobile {
  display: none;
}
.menu-floor {
  visibility: hidden;
  width: 48px;
  height: 48px;
  background-color: #efedeb;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 1.5rem;
  top: 5rem;
  -webkit-transition: all 0, 75ss ease;
  transition: all 0.75s ease;
  .flaticon-floor::before {
    font-size: 28px;
  }
  &.show {
    background-color: #694231;
    color: #fff;
  }
}
@media (max-width: 1441px) {
  .btn-register.show {
    transform: translate(-27rem);
  }
  .img-floorplan-center {
    width: 18.8rem;
    left: -16%;
  }
  .form-register {
    padding: 0rem;
  }
  .contact-us {
    padding: 0;
  }
  .contact-us .form-register .block-form {
    padding: 38px;
  }
  #formRegister {
    padding: 4.8rem;
    overflow-y: auto;
  }
  .block-control {
    bottom: 0;
  }
}
@media (max-width: 1367px) {
  .concept-detail {
    padding: 0 6rem;
  }
  .btn-register.show {
    transform: translate(-25rem);
  }
  .form-register {
    padding: 0rem;
  }
  .map-detail {
    padding-right: 4.5rem;
  }
  .contact-us {
    padding: 0;
  }
  .contact-us .form-register .block-form {
    padding: 38px;
  }
  input[type="text"] {
    padding: 2rem 0 1.5rem;
  }
  textarea {
    padding: 2rem 1rem 1.5rem;
    height: 6.6rem;
  }
  .btn-register2 {
    margin: 3.8rem 0;
  }
  .menu-building a {
    margin: 0 2rem;
    padding: 2rem 0;
  }
  .block-floor-img img {
    height: auto;
  }
  .google-map {
    padding: 5.4rem 9.3rem 5.4rem 3rem;
  }
  .btn-default {
    height: 5.5rem;
  }
  .img-floorplan-center {
    left: -25%;
  }
  .map-detail {
    a {
      width: 100%;
    }
  }
  #formRegister {
    padding: 4.8rem;
  }
}
@media (max-width: 1281px) {
  .btn-register.show {
    transform: translate(-21rem);
  }
  .contact-us .form-register {
    width: 55%;
  }
}
@media (max-width: 1025px) {
  .btn-register.show {
    transform: translate(-22rem);
  }
  .contact-us .form-register .block-form {
    padding: 2.8rem;
  }
  .form-register {
    width: 44%;
  }
  .block-floor .nav-item {
    width: 15rem;
    height: 5rem;
  }
}

@media (max-width: 1023px) {
  ////////////////////////////////////////////////////////////////////////
  .order-md-1 {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
  .order-md-2 {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }
  .order-md-3 {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
  }
  .order-md-4 {
    -webkit-box-ordinal-group: 5;
    -ms-flex-order: 4;
    order: 4;
  }
  .order-md-5 {
    -webkit-box-ordinal-group: 6;
    -ms-flex-order: 5;
    order: 5;
  }
  body {
    background-color: #fafafa;
  }
  .container-fluid {
    padding: 0;
  }
  .row {
    margin: 0;
  }
  .desktop {
    display: none !important;
  }
  .mobile {
    display: block;
  }
  .padding-left-80 {
    padding: 0;
  }
  header {
    padding: 6.5rem 0 0 !important;
  }
  .block-content {
    padding: 4rem 1.6rem 0;
  }
  .order-xs-first {
    order: -1;
  }
  .order-xs-last {
    order: 13;
  }
  .order-M-1 {
    order: 1;
  }
  .order-M-2 {
    order: 2;
  }
  .order-M-3 {
    order: 3;
  }
  p {
    padding: 1.6rem 0;
    margin: 0;
  }
  h1 {
    font-size: 2.4rem;
    padding: 1.6rem 0;
  }
  h2 {
    font-size: 2.4rem;
    line-height: 1.4;
  }
  .btn-default {
    height: 5.6rem;
  }
  .height-100 {
    height: auto;
  }
  .M-no-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .hide-in-mobile {
    color: transparent !important;
    width: 0;
    display: flex;
    // &::before {
    //   content: "...";
    //   display: flex;
    //   color: #000;
    //   align-items: center;
    // }
  }
  .hide-arrow {
    display: none;
  }
  #menuList_M {
    width: 100%;
    padding-top: 6.5rem;
    -webkit-transition: all 0, 75ss ease;
    transition: all 0.75s ease;
    &.hide {
      opacity: 0;
    }
  }
  .menu-mobile {
    position: fixed;
    top: 0;
    left: 1.6rem;
    display: block;
    width: 3rem;
    height: 3.8rem;
    z-index: 9;
    -webkit-transition: all 0, 75ss ease;
    transition: all 0.75s ease;
    bottom: 0;
    margin: auto;
    span {
      position: absolute;
      width: 30px;
      height: 2px;
      background-color: $Black;
      &.top {
        top: 10px;
        transform: rotate(0deg);
        -webkit-transition: all 0, 75ss ease;
        transition: all 0.75s ease;
      }
      &.bottom {
        top: 30px;
        transform: rotate(0deg);
        -webkit-transition: all 0, 75ss ease;
        transition: all 0.75s ease;
      }
      &.center {
        top: 20px;
        opacity: 1;
        width: 30px;
        -webkit-transition: all 0, 75ss ease;
        transition: all 0.75s ease;
      }
    }
    &.show {
      .top {
        transform: rotate(45deg);
        top: 20px;
      }
      .bottom {
        transform: rotate(-45deg);
        top: 21px;
      }
      .center {
        opacity: 0;
        width: 0px;
      }
    }
    &.hide {
      opacity: 0;
    }
  }
  .sub-menu {
    width: 100%;
    overflow: auto;
    white-space: nowrap;
    padding: 1rem 0 4rem;
  }
  .overflow {
    max-height: none;
    overflow: hidden;
  }
  .btn-tertiary {
    display: inline-block;
  }
  .menu-group {
    position: absolute;
    left: 6%;
  }
  .menu {
    height: 6.5rem;
    width: 100%;
    background: $White;
    border: none;
    -webkit-transition: all 0s ease;
    transition: all 0s ease;

    .title-menu {
      transform: rotate(0deg);
      justify-content: left;
      color: transparent;
      height: 50px;
      -webkit-transition-delay: 0s;
      transition-delay: 0s;

      &::before {
        content: "";
        width: 40px;
        height: 2px;
        display: block;
        background-color: $Black;
        position: absolute;
        top: 10px;
        transform: rotate(0deg);
        -webkit-transition: all 0.75s ease;
        transition: all 0.75s ease;
      }
      &::after {
        content: "";
        width: 40px;
        height: 2px;
        display: block;
        background-color: $Black;
        position: absolute;
        bottom: 10px;
        transform: rotate(0deg);
        -webkit-transition: all 0.75s ease;
        transition: all 0.75s ease;
      }
    }
    .line-menu {
      width: 40px;
      height: 2px;
      display: block;
      background-color: $Black;
      position: fixed;
      -webkit-transition: all 0.75s ease;
      transition: all 0.75s ease;
      bottom: 31px;
    }
    i {
      display: none;
    }
    &.show {
      transform: translate(0px);
      position: fixed;
      left: 0;
      z-index: 999;
      .title-menu {
        transform: rotate(0deg);
        &::before {
          transform: rotate(45deg);
          top: 23px;
        }
        &::after {
          transform: rotate(-45deg);
          bottom: 24px;
        }
      }
      .line-menu {
        width: 0;
      }
    }
  }
  #menuList_M {
    width: 100%;
    transform: translate(-100%);
    z-index: 10;
    border: none;
  }
  .form-register {
    position: fixed;
    z-index: 8;
    width: 100%;
    padding: 9rem 1.6rem;
  }
  input[type="text"],
  input[type="tel"],
  input[type="email"] {
    padding: 1.6rem 0;
  }
  textarea {
    padding: 1.6rem 0;
    height: 9.6rem;
  }
  .btn-register2 {
    width: 100%;
    margin: 1.8rem 0;
    position: static;
    border: none;
    height: 56px;
  }
  .btn-register.show {
    transform: translate(0rem);
    font-size: initial;
    justify-content: left;
  }
  .btn-register {
    color: $Black;
    display: flex;
    width: auto;
    i {
      display: block;
    }
  }
  #btnRegisterM {
    background: transparent;
    color: $Black;
  }
  .banner {
    height: auto;
    img {
      object-fit: cover;
      object-position: center;
    }
  }
  .concept-detail {
    padding: 0;
  }
  .btn-default:focus,
  .btn-default:hover {
    box-shadow: none;
  }
  .line-moutain {
    width: 100%;
    left: 0;
  }
  .out-proect-home .text-hover {
    padding: 1.6rem;
  }
  // -----------------------------------------------------------------------------------------------
  .about-us {
    .owl-carousel .owl-item img {
      width: 100%;
      object-fit: cover;
      height: 100vh;
    }
    .project-detail {
      left: 1.6rem;
      right: 1.6rem;
      width: auto;
      h2::before {
        display: none;
      }
    }
  }
  // -----------------------------------------------------------------------------------------------
  .out-proect {
    .text-hover {
      position: absolute;
      bottom: 10%;
      h2 {
        position: static;
        padding: 0 1.6rem;
        transform: translateY(-100%);
      }
      &.active {
        h2 {
          transform: translateY(-100%);
        }
        p {
          transform: translateY(-30%);
        }
      }
      p {
        width: 100%;
        position: static;
        padding: 0 1.6rem;
        opacity: 1;
        transform: translateY(-30%);
      }
    }
    .image-cover {
      opacity: 1;
    }
  }

  .out-proect.d-flex {
    display: block !important;
  }
  .block-villa {
    width: 100%;
  }
  .block-condo {
    width: 100%;
  }
  img.fit-left {
    object-fit: cover;
    object-position: left center;
    height: calc(50vh);
  }
  img.fit-right {
    object-fit: cover;
    object-position: center;
    height: calc(50vh);
  }
  .project-type {
    margin: 6.5rem 0 0;
    height: 100vh;
    .type-image {
      padding: 0;
      img {
        width: 100%;
        object-fit: cover;
        height: 50vh;
      }
    }
  }
  .menu-project-building {
    padding-right: 0;
  }
  .menu-project-building nav {
    position: static;
  }
  .nav-tabs {
    border-bottom: 1px solid #dee2e6;
    position: absolute;
    top: 100px;
    right: 1.5rem;
    z-index: 4;
    display: inline-block;
    opacity: 0;
    &.show {
      opacity: 1;
    }
  }
  .block-floor {
    position: relative;
    display: contents;
  }
  .block-floor .nav-item {
    background: #fafafa;
    width: 20rem;
    height: auto;
    padding: 10px;
  }
  .menu-floor {
    visibility: visible;
  }
  .menu-building.d-flex {
    display: block !important;
    padding: 1.6rem;
    .btn-transparent {
      width: 100%;
      padding: 1.6rem 0;
      margin: 1rem 0;
    }
  }
  .owl-carousel .owl-item img {
    display: block;
    width: 100%;
    margin: auto;
  }
  .floor-slider .owl-nav {
    display: flex;
    top: 50%;
    width: 100%;
    justify-content: space-between;
    position: fixed;
    left: 0;
    z-index: -1;
  }
  .type-name-detail {
    padding: 0 1.6rem;
    margin-top: 18%;
    order: 2;
    h2 {
      font-size: 2.4rem;
    }
    h3 {
      font-size: 1.6rem;
    }
    .room-info {
      width: 100%;
    }
    h4 {
      font-size: 1.4rem;
      display: inline-block;
      width: 100%;
      padding: 0.8rem 0;
    }
    .room-gallery h4 {
      font-size: 1.6rem;
      letter-spacing: 3px;
    }
  }
  .top-60 {
    padding-top: 4rem;
  }
  .room-gallery {
    padding: 4rem 0;
    .padding-0 {
      padding: 0;
    }
  }
  .bg-full-height {
    position: relative;
    order: 1;
    right: 0;
    top: 9.7rem;
    bottom: 0;
  }
  .img-floorplan-center {
    position: relative;
    left: 0;
    right: 0;
    margin: -10% 30% 5%;
    width: 40%;
  }
  .floor-block {
    position: static;
  }
  .margin-menu-M {
    margin: 6.5rem 0 0;
  }
  .padding-menu i {
    display: flex;
    padding: 0 0.5rem;
    font-weight: 100;
    &::before {
      font-size: 9px !important;
    }
  }
  // -----------------------------------------------------------------------------------------------
  .block-gallery {
    margin: 0;
  }
  // -----------------------------------------------------------------------------------------------
  .news,
  .news-detail {
    margin: 6.5rem 0;
  }
  .padding-news,
  .padding-menu {
    padding: 20px 1.6rem 0;
    h3 {
      padding: 1.6rem 0 0;
    }
    p {
      padding: 0;
    }
  }
  // -----------------------------------------------------------------------------------------------
  .btn-transparent-noborder {
    padding: 0;
    font-size: 1.4rem;
  }
  .out-proect-home {
    .bg-gallery {
      width: auto;
      height: 105vh;
      left: 1.6rem;
      right: 1.6rem;
      h1 {
        padding: 4.8rem;
      }
    }
    .slider {
      margin: 9rem 0;
    }
  }
  // -----------------------------------------------------------------------------------------------
  // -----------------------------------------------------------------------------------------------
  .location {
    padding: 6.5rem 0;
    min-height: 100vh;
    h2 {
      padding: 1rem 0;
    }
    p {
      padding: 0;
    }
    .btn-map {
      margin-top: 2rem;
      width: 100%;
      height: 5.6rem;
    }
    &.height-100 {
      height: auto;
    }
    .location-detail {
      width: 100%;
    }
  }
  .google-map {
    padding: 1.6rem;
  }
  // -----------------------------------------------------------------------------------------------
  .contact-us {
    // margin: 6.5rem 0;
    .form-register {
      transform: translate(0%);
      margin: 0;
      height: auto;
    }
    .form-register {
      margin: 6.5rem 0;
      transform: translate(0%);
      height: auto;
      left: 1.6rem;
      right: 1.6rem;
      width: auto;
      padding: 0rem !important;
      position: static;
      background-color: #fafafa;
    }
    .hidden-xs {
      display: none;
    }
  }
  .form-bg {
    height: auto;
  }
  // -----------------------------------------------------------------------------------------------
  .contact a {
    margin: 2.4rem 0;
    height: 5.6rem;
  }
  // -----------------------------------------------------------------------------------------------
  #floorModal {
    padding: 0;
  }
  #floorModal .owl-carousel {
    height: calc(100vh - 76px);
  }
  #floorModal .owl-carousel .owl-item {
    height: auto;
  }
  #floorModal .owl-carousel .owl-item img {
    height: calc(100vh - 76px);
    object-fit: cover;
    object-position: center;
  }
  .close {
    position: fixed;
    padding: 3.2rem 2rem;
    top: 5rem;
    left: 0rem;
    .flaticon-back {
      padding-right: 0;
      &::before {
        font-size: 1.6rem;
      }
    }
  }
  #caption {
    position: absolute;
    bottom: 0rem;
    left: 0rem;
    background: transparent;
    height: 9rem;
    z-index: 1;
    color: #000;
    display: flex;
    align-items: center;
    color: #262626;
    font-size: 2.6rem;
    font-weight: bold;
    padding: 0 1.4rem;
  }
  #floorModal .owl-nav {
    top: initial;
    bottom: 0;
    padding: 2rem 1rem;
    background: #fafafa;
    font-size: 50px;
    display: flex;
    justify-content: flex-end;
    width: 50%;
    right: 0;
  }
  #floorModal .owl-carousel .owl-item .caption {
    padding: 3.5rem 1.6rem;
  }
  #floorModal .close {
    color: #fff;
  }
  // -----------------------------------------------------------------------------------------------
  footer {
    height: auto;
  }
  // ---------------------------------------------------------------------------------------------------------------------------
  .out-proect-home .text-hover {
    transform: translateY(-92%);
    opacity: 1;
    h2 {
      padding: 0;
    }
  }
  .btn-mobile {
    width: auto;
    margin: 3rem 1.6rem;
    position: static;
  }
  .contact {
    margin: 0;
    img.google-map {
      padding: 0;
    }
    .map-detail {
      width: 100%;
      padding: 0;
    }
  }
  // .gallery-page {
  //   height: calc(100vh - 76px);
  // }
  #galleryModal .owl-carousel .owl-item img {
    height: calc(100vh - 76px);
  }
  .block-gallery {
    /* margin-left: 8rem; */
    width: calc(100% - 0rem);
  }
  // .position-lt img {
  //   height: 51vh;
  // }
  // .position-lb img {
  //   height: 40vh;
  // }
  // .position-rt img {
  //   height: 50vh;
  // }
  // .position-rb img {
  //   height: 41vh;
  // }
  // .position-center img {
  //   height: 89vh;
  // }
  .cover-img h3 {
    font-size: 1.6rem;
    width: 100%;
    left: 1.6rem;
  }
  #galleryModal .owl-nav {
    padding: 0.6rem 1.6rem;
  }
  .caption {
    padding: 1.6rem;
  }

  .owl-nav {
    top: auto;
    bottom: 0;
    color: #fff;
    font-size: 100px;
    display: flex;
    justify-content: flex-end;
    width: auto;
    padding: 0 1rem;
    background: #fff;
    right: 0;
  }
  .about-slider .owl-nav {
    background: transparent;
    bottom: 3.2rem;
  }
  .owl-theme .owl-nav [class*="owl-"] {
    width: 32px;
    height: 32px;
  }
  .owl-theme .owl-nav [class*="owl-"] i:before {
    font-size: 20px;
  }
  .owl-prev::before,
  .owl-next::before {
    height: auto;
    font-size: 1.6rem;
  }
  .flaticon-next {
    font-size: 1.7rem;
    padding: 0 2.5rem;
    animation: arrow 1s linear infinite;
    animation-play-state: running;
    &::before {
      font-size: 2rem;
    }
  }
  .social {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 3.2rem;
    a {
      width: 3rem;
      height: 3rem;
      padding: 0;
      margin: 0 1rem !important;
      position: relative;
    }
  }
  #showBreadcrumb a {
    opacity: 1;
  }
  ////////////////////////////////////////////////////////////////////////
  .form-register {
    overflow: auto;
    height: 45rem;
  }
  .menu-vertical-center {
    overflow: scroll;
    height: 25rem;
    -webkit-box-shadow: 0px 12px 11px -15px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 12px 11px -15px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 12px 11px -15px rgba(0, 0, 0, 0.35);
  }
  #menuList a,
  #menuList_M a {
    padding: 1.5rem 0;
  }
  #menuList,
  #menuList_M {
    padding: 1.6rem;
  }
  .social {
    bottom: 2.2rem;
  }
  .contact-us .form-register .block-form {
    margin-top: 19.6rem;
    padding: 1.6rem;
  }
  .contact-us .form-register {
    z-index: 1;
  }
  .project-type {
    height: auto;
  }
  .padding-news,
  .padding-menu {
    padding: 1.6rem;
  }
  #galleryModal .owl-carousel .owl-item img {
    height: auto;
  }
  #floorModal .owl-carousel {
    height: auto;
  }
  #floorModal .owl-carousel .owl-item img {
    height: auto;
    object-fit: cover;
    object-position: center;
    width: 100%;
  }
  .gallery-page {
    height: auto;
  }
  .block-gallery {
    display: block;
    position: static;
    width: 100%;
    height: auto;
  }
  .position-lt,
  .position-center,
  .position-rt,
  .position-lb,
  .position-rb {
    position: static;
    img {
      height: 50vh;
    }
  }
  // .position-lt{
  //   order: 1;
  // }
  // .position-lb{
  //   order: 2;
  // }
  // .position-center{
  //   order: 3;
  // }
  // .position-rt{
  //   order: 4;
  // }
  // .position-rb{
  //   order: 5;
  // }
  #galleryModal .owl-nav {
    top: auto;
  }
  .gallery-cate {
    .owl-carousel {
      top: 17%;
    }
    #galleryModal .owl-carousel .owl-item img {
      height: auto;
    }
    .close {
      position: sticky;
      width: 100%;
      padding: 2rem 1.6rem;
      top: 5rem;
      left: 0rem;
      color: #323e48;
      letter-spacing: 2.63px;
      font-weight: 600;
      background: #fafafa;
    }
    .caption {
      position: static;
    }
    .owl-carousel {
      position: relative;
      top: 0;
    }
    .owl-stage-outer {
      overflow: inherit;
    }
  }
  .blocl-control {
    background: #fafafa;
    bottom: 1.2rem;
    left: 0;
    width: 100%;
    h1 {
      padding: 0 2.4rem;
    }
    .menu-floor {
      top: auto;
      right: 1.5rem;
      width: 32px;
      height: 32px;
      position: relative;
      i:before {
        font-size: 14px;
      }
    }
    .nav-tabs {
      top: auto;
      bottom: 4rem;
      opacity: 1;
      right: 1.5rem;
      padding: 0;
      a {
        padding: 1rem 3rem;
        background: $White;
        box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.05);
        border: none;
      }
    }
  }
  .gallery-cate {
    // display: inline-block;
    // padding: 5rem 0 0 !important;
    figure {
      height: 0;
    }
    .scroll {
      overflow: auto;
      width: 100%;
      img {
        height: 65vh;
        width: auto;
      }
    }
    .pano-item .scroll img {
      height: 0;
      visibility: hidden;
    }
    .pano-item.show .scroll img {
      height: 65vh;
      visibility: visible;
    }
    .block-pano {
      position: relative;
      height: 100vh;
    }
  }
  .block-control {
    bottom: 0;
    left: 0;
    padding: 1.6rem 0;
    .nav {
      padding-right: 0rem;
      top: auto;
      bottom: 8rem;
    }
    .menu-floor {
      top: auto;
      .nav-tabs.show {
        opacity: 1;
      }
    }
    .nav-link {
      background: $White;
    }
  }
  .gallery-cate .owl-nav {
    padding: 1rem 1.6rem;
  }
  .gallery-cate video {
    height: 65vh;
    margin: 0;
  }
  ////////////////////////////////////////////////////////////////////////
}
@media (max-width: 769px) {
  .menu-vertical-center {
    overflow: auto;
    height: auto;
    box-shadow: none;
  }
  #menuList a,
  #menuList_M a {
    padding: 3.3rem 0;
  }
  .form-register {
    overflow: auto;
    height: auto;
  }
  // .gallery-cate .scroll img {
  //   // height: 85vh;
  //   // width: inherit;
  // }
}
@media (max-width: 767px) {
  .play-video{
    display: none;
  }
  #menuList_M a {
    padding: 2rem 0;
  }
  .menu-vertical-center {
    overflow: scroll;
    height: 25rem;
    -webkit-box-shadow: 0px 12px 11px -15px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 12px 11px -15px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 12px 11px -15px rgba(0, 0, 0, 0.35);
  }
  #menuList a,
  #menuList_M a {
    padding: 1.5rem 0;
  }
  .form-register {
    overflow: auto;
    height: 45rem;
  }
}
@media (max-width: 569px) {
  .menu-vertical-center {
    overflow: auto;
    height: auto;
    box-shadow: none;
  }
  .social {
    bottom: 3.2rem;
  }
  .form-register {
    overflow: auto;
    height: auto;
  }
  .padding-news,
  .padding-menu {
    padding: 20px 1.6rem 0;
  }
  .contact-us .form-register .block-form {
    margin-top: 0;
  }
  #menuList_M a {
    padding: 2rem 0;
  }
  .contact-us {
    padding: 0;
  }
  .gallery-cate .pano-item.show .scroll img {
    height: 58vh;
  }
}
@media (max-width: 567px) {
  .gallery-cate .pano-item.show .scroll img {
    height: 65vh;
  }
}
@media (max-width: 415px) {
  #menuList_M a {
    padding: 1.5rem 0;
  }
  .menu-proect-detail {
    a {
      font-size: 1rem;
    }
  }
  .out-proect .text-hover p {
    transform: translateY(-30%);
  }
  .type-name-detail {
    margin-top: 32%;
  }
  .out-proect .text-hover {
    position: absolute;
    bottom: 0%;
  }
  .owl-carousel .owl-item img {
    width: 100%;
  }
  .gallery-cate {
    height: calc(100vh - 69px);
  }
  .gallery-cate .block-pano {
    position: relative;
    height: 90vh;
  }
}
