@import "style-guide.scss";
.wpcf7-form {
  select,
  input {
    -webkit-appearance: none;
    // height: 54px;
    border-radius: 0.6rem;
    border: solid 1px $Grey-30;
    background-color: $White;
    width: 100%;
    padding: 1.6rem 2rem;
  }
  .Selecttopic {
    select {
      color: #656565;
    }
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      right: 24px;
      margin-top: -5px;
      pointer-events: none;
      border-top: 8px solid #656565;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      // content: ">";
      // position: absolute;
      // right: 1rem;
      // margin: auto;
      // display: flex;
      // bottom: 0;
      // transform: rotate(90deg);
      // color: #656565;
    }
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 28px;
      margin-top: -5px;
      pointer-events: none;
      border-top: 5px solid #fff;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
    }
  }
  p:last-of-type {
    display: block; 
    width: auto;
    margin: 0;
    input {
      cursor: pointer;
      border-radius: 2.7rem;
      box-shadow: $Shadow-1;
      background-color: $Blue-100;
      width: 20rem;
      display: block; 
      padding: 1.6rem;
      color: $White;
      text-align: center;
      margin: 3rem auto 0;
      outline: none;
      transition: all 0.3s ease-in-out;
      &:hover {
        background-color: $Black; 
      }
    }
  }
  p:nth-last-of-type(2) {
    display: block;
    width: 100%;
    textarea {
      border-radius: 0.6rem;
      border: solid 1px $Grey-30;
      background-color: $White;
      width: 100%;
      padding: 1.6rem 2rem;
      height: 17.6rem;
      overflow: auto;
    }
  }
  p {
    display: inline-block;
    width: 49%;
  }
  .ajax-loader {
    position: absolute;
  }
}

///////////////////////////////////////////////////////////////////

.form-dream-home {
  background-color: #6f7f97;
  padding: 2rem 8rem;
  h2,
  p {
    color: $White;
  }
  .wpcf7-form p {
    width: 100%;
  }
  .wpcf7-form p:last-of-type input {
    cursor: pointer;
    border-radius: 2.7rem;
    box-shadow: $Shadow-1;
    background-color: $White;
    width: 20rem;
    display: block;
    padding: 1rem;
    color: $Black;
    text-align: center;
    margin: 1rem auto 0;
    outline: none;
    float: right;
  }
  .wpcf7-form select,
  .wpcf7-form input {
    padding: 1rem 2rem;
  }
  p:nth-last-of-type(2) {
    display: block;
    width: 100%;
    textarea {
      border-radius: 0.6rem;
      border: solid 1px $Grey-30;
      background-color: $White;
      width: 100%;
      padding: 1.6rem 2rem;
      height: 10rem;
      overflow: auto;
    }
  }
}
