.position-lt {
  position: absolute;
  left: 0;
  top: 0;
}

.position-rt {
  position: absolute;
  right: 0;
  top: 0;
}

.position-lb {
  position: absolute;
  left: 0;
  bottom: 0;
}

.position-rb {
  position: absolute;
  right: 0;
  bottom: 0;
}

.position-center {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  margin: auto;
}

.position-lt img {
  // padding: 8px 0;
  height: 50vh;
}

.position-rt img {
  // padding: 8px 0;
  height: 60vh;
}

.position-lb img {
  // padding: 8px 0;
  height: 50vh;
}

.position-rb img {
  // padding: 8px 0;
  height: 40vh;
}

.position-center img {
  // padding: 8px 0;
  height: calc(100vh - 4px);
}

.cover-img {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  border: 2px solid #fff;
}

.cover-img img {
  width: 100%;
  transform: scale(1);
  -webkit-transition: 50s all cubic-bezier(0, 0.72, 0.31, 1);
  transition: 10s all cubic-bezier(0, 0.72, 0.31, 1);
  object-fit: cover;
  object-position: center;
}
.cover-img h3 {
  position: absolute;
  z-index: 1;
  bottom: 0;
  color: #fff;
  left: 2.4rem;
  font-weight: bold;
}
.cover-img img:hover {
  transform: scale(1.05);
}
// .cover-img h3:hover {
//   transform: scale(1.05);
// }
.block-gallery {
  margin-left: 8rem;
  display: block;
  position: absolute;
  width: calc(100% - 8rem);
  height: 100vh;
}
.modal {
  display: none;
  position: fixed;
  z-index: 9;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: #fafafa;
  // padding-bottom: 7rem;
  .owl-nav {
    top: 94%;
    background-color: #fafafa;
    font-size: 100px;
    display: flex;
    justify-content: flex-end;
    width: 50%;
    padding: 0 4rem;
    right: 0;
  }
  .owl-theme .owl-nav [class*="owl-"] {
    width: 50px;
    height: 50px;
    background-color: #f5f4f2 !important;
    transition: all 0.75s ease;
    -webkit-transition: all 0.75s ease;

    &:hover {
      background-color: #bdbab4 !important;
    }
  }
  .owl-prev::before {
    height: 5rem;
    font-size: 2rem;
  }
  .owl-next::before {
    height: 5rem;
    font-size: 2rem;
  }
}
.owl-item {
  .item a {
    display: block;
  }
}
/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
.caption {
  position: absolute;
  bottom: -1px;
  z-index: 1;
  z-index: 1;
  background: #fafafa;
  width: 100%;
  padding: 10px 40px;
}

/* Add Animation */
.modal-content,
#caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
  }

  to {
    -webkit-transform: scale(1);
  }
}

@keyframes zoom {
  from {
    transform: scale(0);
  }

  to {
    transform: scale(1);
  }
}

/* The Close Button */
.close {
  position: absolute;
  padding: 3.2rem 8rem;
  top: 0;
  left: 2.4rem;
  color: #fff;
  opacity: 1;
  display: flex;
  align-items: center;
  transition: 0.3s;
  z-index: 7;
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 3px;
  text-transform: uppercase;
  i{
    padding-right: 1rem;
  }
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
  text-shadow: none;
}
#floorModal {
  background: rgba(0, 0, 0, 0.8);
  padding: 8rem 0;
  z-index: 9;
  .owl-carousel {
    height: 100%;
    .owl-stage-outer {
      height: 100%;
      background: #fff;
    }
    .owl-stage {
      height: 100%;
    }
    .owl-item {
      height: 100%;
      img {
        height: 100vh;
      }
      .caption {
        padding: 2.7rem 11rem;
      }
    }
  }
  .owl-nav {
    top: initial;
    bottom: 0;
    padding: 2rem 4rem;
    background: #fafafa;
    font-size: 100px;
    display: flex;
    justify-content: flex-end;
    width: 50%;
    right: 0;
  }
  .modal .owl-theme .owl-nav [class*="owl-"] {
    width: 60px;
    height: 60px;
    background-color: #f5f4f2 !important;
  }
  .close {
    justify-content: flex-end;
    right: 0;
  }
}
#galleryModal {
  .owl-carousel .owl-item img {
    display: block;
    width: 100%;
    object-fit: cover;
    object-position: center;
    height: 100vh;
  }
  .owl-nav {
    top: inherit;
    background-color: #fafafa;
    font-size: 100px;
    display: flex;
    justify-content: flex-end;
    width: 50%;
    padding: 15px 4rem;
    right: 0;
    bottom: 0;
  }
  #caption {
    top: initial;
    bottom: 0;
  }
}
