/* Style the video: 100% width and height to cover the entire window */
#myVideo {
  position: static;
  right: 0;
  bottom: 0;
  width: 100%;
  min-height: 100%;
  margin-bottom: -6px; }

/* Add some content at the bottom of the video/page */
.content {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px; }

/* Style the button used to pause/play the video */
#myBtn {
  padding: 10px;
  border: none;
  background: transparent;
  color: #fff;
  cursor: pointer;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  height: auto;
  opacity: 0.8;
  bottom: 0; }

#myBtn:hover {
  opacity: 1; }

.flaticon-play-button::before, .flaticon-pause-button::before {
  font-size: 7rem; }

@media (min-aspect-ratio: 16 / 9) {
  #videoBG {
    width: 100%;
    height: auto; } }
@media (max-aspect-ratio: 16 / 9) {
  #videoBG {
    width: auto;
    height: 100%; } }
@media (max-width: 767px) {
  #videoBG {
    display: none; } }

/*# sourceMappingURL=style-video.css.map */
