html {
  font-size: 62.5%; }

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 3.6rem;
  line-height: 1.3;
  font-weight: 700;
  padding: 5rem 0 5rem;
  margin: 0; }

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 3.6rem;
  line-height: 1;
  font-weight: 600;
  padding: 1.6rem 0 1.6rem;
  margin: 0; }

h3 {
  font-family: "Prompt", "sans-serif";
  font-size: 2.4rem;
  line-height: 1.7;
  font-weight: normal;
  padding: 1.6rem 0 1.6rem; }

h4 {
  font-size: 1.6rem;
  font-weight: 200;
  line-height: 1.375;
  padding: 1.2rem 0;
  margin: 0; }

a {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.375;
  padding: 0; }

body,
p {
  font-family: "Prompt", "sans-serif";
  font-size: 1.6rem;
  font-weight: normal;
  line-height: 1.375;
  padding: 0;
  color: #323E48;
  -webkit-appearance: none; }

.font-spacing-3 {
  letter-spacing: 3px; }

div:focus {
  outline: none; }

.bg-blue {
  background-color: #323E48; }
  .bg-blue:hover {
    background: #273037; }

.bg-nude {
  background-color: #D0CAC4; }

.bg-brown {
  background-color: #d0cac4; }

.bg-cream {
  background-color: #fafafa; }

.form-bg {
  min-height: 100vh;
  background-color: #f5f4f2; }

.height-100 {
  min-height: 100vh; }

.font-weight-bold {
  font-weight: 600 !important; }

.font-weight-sem-bold {
  letter-spacing: 3px;
  font-weight: 600; }

.btn-default {
  width: 280px;
  height: 76px;
  display: block;
  letter-spacing: 3px;
  font-size: 1.6rem;
  font-weight: 600;
  color: #ffffff;
  text-align: center; }
  .btn-default:hover {
    background-color: #273037;
    color: #ffffff; }

.btn-secondary {
  border-radius: 2.7rem;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
  padding: 0.8rem 2.1rem;
  background-color: #ffffff;
  margin: 0 0.5rem;
  color: #323E48; }
  .btn-secondary:hover {
    color: #323E48; }
  .btn-secondary:focus {
    background-color: #ffffff;
    color: #323E48;
    box-shadow: none;
    outline: none; }

.btn-register {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: auto;
  color: #65513d;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(180deg);
  transition: all 0.75s ease;
  -webkit-transition: all 0.75s ease;
  transform: translate(0rem);
  z-index: 1; }
  .btn-register .flaticon-back {
    transform: rotate(0deg);
    padding: 0 3rem; }
  .btn-register.show {
    transform: translate(-44rem);
    font-size: 0;
    justify-content: left; }
    .btn-register.show .flaticon-back {
      transform: rotate(180deg);
      padding: 0 3rem; }

.btn-register2 {
  width: 100%;
  cursor: pointer;
  margin: 4.8rem 0;
  position: static;
  border: none;
  background: #323E48;
  border: 2px solid transparent;
  color: #ffffff;
  transition: all 0.75s ease;
  -webkit-transition: all 0.75s ease; }
  .btn-register2:hover {
    background: #273037; }

.btn-viewall {
  position: absolute;
  right: 0;
  bottom: 0px;
  margin: auto;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(180deg);
  transition: all 0.75s ease;
  -webkit-transition: all 0.75s ease;
  transform: translate(0rem);
  z-index: 1; }
  .btn-viewall .flaticon-back {
    transform: rotate(0deg);
    padding: 0 3rem; }
  .btn-viewall.show {
    transform: translate(-160%);
    font-size: 0;
    justify-content: left; }
    .btn-viewall.show .flaticon-back {
      transform: rotate(180deg);
      padding: 0 3rem; }
  .btn-viewall:hover {
    color: #ffffff; }

.btn-transparent {
  padding: 3rem 0;
  display: flex;
  width: 40rem;
  border: solid 1px #694231;
  text-align: center;
  justify-content: center;
  color: #65513d; }
  .btn-transparent:hover {
    background-color: rgba(255, 255, 255, 0.2); }

.btn-transparent-noborder {
  padding: 3rem 0;
  display: flex;
  width: 40rem;
  text-align: center;
  justify-content: left;
  letter-spacing: 2.63px;
  color: #65513d;
  align-items: center;
  font-weight: 600; }
  .btn-transparent-noborder:hover {
    font-weight: 600;
    color: #65513d; }

.flaticon-facebook {
  display: block;
  position: absolute;
  bottom: 10%;
  width: 100%;
  text-align: center;
  font-size: 2rem;
  left: 0;
  right: 0; }

.flaticon-tel {
  display: block;
  position: absolute;
  bottom: 5%;
  width: 100%;
  text-align: center;
  font-size: 2rem;
  left: 0;
  right: 0; }

.flaticon-next {
  font-size: 1.7rem;
  padding: 0 2.5rem 0 1.6rem;
  animation: arrow 1s linear infinite;
  animation-play-state: paused; }
  .flaticon-next::before {
    font-size: 3rem; }

.flaticon-google-maps::before {
  font-weight: 100;
  font-size: 24px;
  padding: 0 12px; }

@keyframes arrow {
  0% {
    transform: translate(0px); }
  50% {
    transform: translate(4px); }
  100% {
    transform: translate(0px); } }
span:focus,
select:focus,
input:focus,
textarea:focus {
  border-radius: 0.6rem;
  border: none;
  outline: none; }

a {
  transition: all 0.3s ease-in-out;
  color: #323E48; }

a:hover {
  text-decoration: none;
  color: #323E48; }

.img-effect {
  -webkit-transition: 50s all cubic-bezier(0, 0.72, 0.31, 1);
  transition: 50s all cubic-bezier(0, 0.72, 0.31, 1);
  transform: scale(1); }
  .img-effect:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05); }

.btn-secondary:not(:disabled):not(.disabled):active:focus,
.btn-secondary:not(:disabled):not(.disabled).active:focus,
.show > .btn-secondary.dropdown-toggle:focus {
  box-shadow: none; }

img.fit-left {
  object-fit: cover;
  object-position: left center;
  height: calc(100vh); }

img.fit-right {
  object-fit: cover;
  object-position: right center;
  height: calc(100vh); }

img.object-fit {
  object-fit: cover;
  height: 100vh; }

footer {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  height: 4.7rem;
  z-index: 1; }

[class^="flaticon-"]:before,
[class*=" flaticon-"]:before,
[class^="flaticon-"]:after,
[class*=" flaticon-"]:after {
  margin-left: 0; }

strong {
  font-weight: 600;
  text-transform: uppercase; }

.flaticon-close:before {
  margin-left: 0;
  font-weight: 100;
  padding: 0 1.2rem;
  font-size: 14px;
  display: inline-block; }

/*# sourceMappingURL=style-guide.css.map */
