	/*
  	Flaticon icon font: Flaticon
  	Creation date: 30/10/2019 05:42
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-facebook:before { content: "\f100"; }
.flaticon-tel:before { content: "\f101"; }
.flaticon-play-button:before { content: "\f102"; }
.flaticon-back:before { content: "\f103"; }
.flaticon-next:before { content: "\f104"; }
.flaticon-pause-button:before { content: "\f105"; }
.flaticon-right-arrow:before { content: "\f106"; }
.flaticon-floor:before { content: "\f107"; }
.flaticon-bedroom:before { content: "\f108"; }
.flaticon-bathroom:before { content: "\f109"; }
.flaticon-living-room:before { content: "\f10a"; }
.flaticon-close:before { content: "\f10b"; }
.flaticon-google-maps:before { content: "\f10c"; }
.flaticon-day:before { content: "\f10d"; }
.flaticon-night:before { content: "\f10e"; }